<template>
  <titleAddBtn :addBtnList="addBtnList" @clkCallBk="listenCall"></titleAddBtn>
</template>
<script>
import titleAddBtn from "./Toolbar/titleAddBtn";
export default {
  components: {
    titleAddBtn
  },
  data() {
    return {
      addBtnList: [
        {
          title: "添加1",
          icon: "el-icon-circle-plus-outline",
          methods: "addItem"
        },
        {
          title: "添加2",
          icon: "el-icon-circle-plus-outline",
          methods: "addItem2"
        },
        {
          title: "添加3",
          icon: "el-icon-circle-plus-outline",
          methods: "addItem3"
        }
      ]
    };
  },
  methods: {
    listenCall(methodsWords) {
      console.log("methodsWords", methodsWords);
      this[methodsWords]();
    },
    addItem() {
      console.log(11);
    },
    addItem2() {
      console.log(1122);
    },
    addItem3() {
      console.log(112233);
    }
  }
};
</script>