<template>
  <div>
    <btn
      v-for="(btn, index) in testData"
      :key="index"
      :type="btn.type"
      :text="btn.text"
    >{{btn.text}}</btn>
  </div>
</template>
<script>
import Button from "./Toolbar/Button";
export default {
  components: {
    btn: Button
  },
  data() {
    return {
      testData: [
        {
          type: "success",
          text: "001"
        },
        {
          type: "warning",
          text: "002"
        },
        {
          type: "danger",
          text: "003"
        }
      ]
    };
  }
};
</script>