<template>
  <section>
    <!-- 顶部筛选编辑栏 -->
    <section>
      <div class="set">
        <!-- 下拉 -->
        <el-select
          class="set-item"
          v-model="selectVal"
          multiple
          placeholder
          clearable
          collapse-tags
        >
          <el-option
            v-for="item in selectOptions"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          ></el-option>
        </el-select>
        <!-- 时间段 -->
        <el-date-picker
          class="set-item"
          v-model="datePickerVal"
          type="daterange"
          align="left"
          size="large"
          unlink-panels
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
          :picker-options="pickerOptions"
        ></el-date-picker>
      </div>
    </section>
    <!-- 表格组件 -->
    <v-table :tableData="tableData" :Attributes="tableAttributes"></v-table>
  </section>
</template>

<script>
import { mapGetters } from "vuex";
import { Attributes } from "./Data/tableData.js";
import Table from "./Table";
export default {
  components: {
    "v-table": Table
  },
  data() {
    return {
      tableAttributes: {},
      selectOptions: [
        {
          value: "1",
          label: "1"
        },
        {
          value: "2",
          label: "2"
        },
        {
          value: "3",
          label: "3"
        },
        {
          value: "4",
          label: "4"
        },
        {
          value: "5",
          label: "5"
        }
      ],
      selectVal: [],
      datePickerVal: "", //日期范围
      pickerOptions: {
        shortcuts: [
          {
            text: "最近一周",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit("pick", [start, end]);
            }
          },
          {
            text: "最近一个月",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit("pick", [start, end]);
            }
          },
          {
            text: "最近三个月",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit("pick", [start, end]);
            }
          }
        ]
      },
      tableData: []
    };
  },
  computed: {
    ...mapGetters(["getProjectId"])
  },
  watch: {
    // 监听项目编号变化重新刷新组件
    getProjectId: {
      handler: function(newVal, oldVal) {
        console.log("ProjectId改变了", newVal, oldVal);
        //刷新表格数据
        this.tableData = this.tableList(10);
      },
      deep: true, //深度监听
      immediate: true //初次绑定执行回调
    }
  },
  methods: {
    tableList(num) {
      let a = [];
      for (let i = 0; i < num; i++) {
        a.push({
          date: "2016-05-03" + i,
          name: "王小虎" + i,
          address: "上海市普陀区金沙江路 1516 弄" + i,
          data1: "data" + i,
          data2: "data" + i,
          data3: "data" + i,
          data4: "data" + i,
          data5: "data" + i,
          data6: "data" + i,
          data7: "data" + i
        });
      }
      return a;
    }
  },
  mounted() {
    console.log("父组件", Attributes);
    this.tableAttributes = Attributes;
    this.tableData = this.tableList(40);
  }
};
</script>
<style lang="scss" scoped>
.set {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  align-content: flex-start;
  //   justify-content: space-between;
  margin-bottom: 5px;
  .set-item {
    margin-right: 5px;
  }
}
</style>