<template>
  <section>
    <section>
      <!-- 顶部筛选编辑栏 -->
      <div class="set">
        <el-select
          class="set-item"
          v-model="selectVal"
          multiple
          placeholder
          clearable
          collapse-tags
        >
          <el-option
            v-for="item in selectOptions"
            :key="item.value"
            :label="item.label"
            :value="item.value"
          ></el-option>
        </el-select>
        <el-date-picker
          class="set-item"
          v-model="datePickerVal"
          type="daterange"
          align="left"
          size="large"
          unlink-panels
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
          :picker-options="pickerOptions"
        ></el-date-picker>
      </div>
    </section>
    <section>
      <!-- 表格组件 -->
      <el-table
        :data="this.tableData2.slice((currentPage - 1)* pagesize , currentPage*pagesize)"
        :border="TableAttributes.border"
        :size="TableAttributes.mini"
        :height="TableAttributes.height"
        :maxHeight="TableAttributes.maxHeight"
        :stripe="TableAttributes.stripe"
        :fit="TableAttributes.fit"
        :showHeader="TableAttributes.showHeader"
        :lazy="TableAttributes.lazy"
        style="width: 100%"
      >
        <!-- 表格多选框 -->
        <el-table-column v-if="TableColumnAttributes.isSelection" type="selection" align="center"></el-table-column>
        <!-- 行序号 -->
        <el-table-column
          v-if="TableColumnAttributes.isIndex"
          :label="TableColumnAttributes.indexLabel"
          type="index"
          align="center"
          width="100"
          sortable
        >
          <template slot-scope="scope">
            <span>{{(currentPage-1) * pagesize + scope.$index + 1}}</span>
          </template>
        </el-table-column>
        <!-- 数据列 -->
        <el-table-column
          v-for="item in TableColumnAttributes.tableCols.cols"
          :key="item.id"
          :prop="item.prop"
          :label="item.label"
          :width="item.width"
          :align="item.align"
          :sortable="item.sortable"
        ></el-table-column>
        <!-- 操作按钮 -->
        <el-table-column
          v-if="TableColumnAttributes.tableCols.colButtons.isButton"
          :label="TableColumnAttributes.tableCols.colButtons.buttonLabel"
          :width="TableColumnAttributes.tableCols.colButtons.width"
          :align="TableColumnAttributes.tableCols.colButtons.align"
        >
          <template slot-scope="scope">
            <el-button
              v-for="(btn, index) in TableColumnAttributes.tableCols.colButtons.buttons"
              :key="index"
              :size="btn.size"
              :type="btn.btnType"
              @click="btn.handle(scope.$index,scope.row)"
            >{{btn.text}}</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="currentPage"
        :page-sizes="[10, 20, 30, 40]"
        :page-size="pagesize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="this.tableData2.length"
        background
      ></el-pagination>
    </section>
  </section>
</template>

<script>
import { tablAttributeseData, Attributes } from "./Data/tableData.js";
export default {
  data() {
    return {
      tableData2: [],
      TableAttributes: {},
      TableColumnAttributes: {},
      cols: [],
      selectOptions: [
        {
          value: "1",
          label: "1"
        },
        {
          value: "2",
          label: "2"
        },
        {
          value: "3",
          label: "3"
        },
        {
          value: "4",
          label: "4"
        },
        {
          value: "5",
          label: "5"
        }
      ],
      selectVal: [],
      datePickerVal: "", //日期范围
      pickerOptions: {
        shortcuts: [
          {
            text: "最近一周",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit("pick", [start, end]);
            }
          },
          {
            text: "最近一个月",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit("pick", [start, end]);
            }
          },
          {
            text: "最近三个月",
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit("pick", [start, end]);
            }
          }
        ]
      },
      currentPage: 1,
      pagesize: 10
    };
  },
  methods: {
    tableList() {
      let a = [];

      for (let i = 0; i < 40; i++) {
        a.push({
          date: "2016-05-03" + i,
          name: "王小虎" + i,
          address: "上海市普陀区金沙江路 1516 弄" + i
        });
      }

      return a;
    },
    handleEdit(index, row) {
      console.log("index", index, "row", row);
    },
    handleDelete(index, row) {
      console.log("删除", "index", index, "row", row);
    },
    // 点击第几页
    handleCurrentChange(currentPage) {
      this.currentPage = currentPage;
      console.log(this.currentPage, "显示跳转页数");
    },
    // 控制每页下拉的数据
    handleSizeChange(size) {
      this.pagesize = size;
      console.log(this.pagesize, "显示页数");
    }
  },
  mounted() {
    this.TableAttributes = Attributes.TableAttributes;
    this.TableColumnAttributes = Attributes.TableColumnAttributes;
    this.tableData2 = this.tableList();
    console.log(this.tableData2);
    console.log(this.TableColumnAttributes.tableCols.cols);
    this.cols = this.TableColumnAttributes.tableCols.cols;
  }
};
</script>
<style lang="scss" scoped>
.set {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  align-content: flex-start;
  //   justify-content: space-between;
  margin-bottom: 5px;
  .set-item {
    margin-right: 5px;
  }
}
</style>