<template>
  <section>
    <!-- 表格组件 -->
    <el-table
      v-if="JSON.stringify(Attributes)!='{}'"
      :data="this.tableData.slice((currentPage - 1)* pagesize , currentPage*pagesize)"
      :border="TableAttributes.border"
      :size="TableAttributes.mini"
      :height="TableAttributes.height"
      :maxHeight="TableAttributes.maxHeight"
      :stripe="TableAttributes.stripe"
      :fit="TableAttributes.fit"
      :showHeader="TableAttributes.showHeader"
      :lazy="TableAttributes.lazy"
      style="width: 100%"
    >
      <!-- 表格多选框 -->
      <el-table-column v-if="TableColumnAttributes.isSelection" type="selection" align="center"></el-table-column>
      <!-- 行序号 -->
      <el-table-column
        v-if="TableColumnAttributes.isIndex"
        :label="TableColumnAttributes.indexLabel"
        type="index"
        align="center"
        width="100"
        sortable
      >
        <template slot-scope="scope">
          <span>{{(currentPage-1) * pagesize + scope.$index + 1}}</span>
        </template>
      </el-table-column>
      <!-- 数据列 -->
      <el-table-column
        v-for="item in TableColumnAttributes.tableCols.cols"
        :key="item.id"
        :prop="item.prop"
        :label="item.label"
        :width="item.width"
        :align="item.align"
        :sortable="item.sortable"
      ></el-table-column>
      <!-- 操作按钮 -->
      <el-table-column
        v-if="TableColumnAttributes.tableCols.colButtons.isButton"
        :label="TableColumnAttributes.tableCols.colButtons.buttonLabel"
        :width="TableColumnAttributes.tableCols.colButtons.width"
        :align="TableColumnAttributes.tableCols.colButtons.align"
      >
        <template slot-scope="scope">
          <el-button
            v-for="(btn, index) in TableColumnAttributes.tableCols.colButtons.buttons"
            :key="index"
            :size="btn.size"
            :type="btn.btnType"
            @click="btn.handle(scope.$index,scope.row)"
          >{{btn.text}}</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="currentPage"
      :page-sizes="[10, 20, 30, 40]"
      :page-size="pagesize"
      :total="this.tableData.length"
      layout="total, sizes, prev, pager, next, jumper"
      background
    ></el-pagination>
  </section>
</template>

<script>
export default {
  name: "Table",
  props: {
    Attributes: {
      type: Object,
      required: false
    },
    tableData: {
      type: Array,
      // default: [],
      required: false
    }
  },
  watch: {
    Attributes(newValue, oldValue) {
      this.TableAttributes = newValue.TableAttributes;
      this.TableColumnAttributes = newValue.TableColumnAttributes;
    },
    tableData(newValue, oldValue) {
      console.log("表格数据", newValue, oldValue);

      // this.TableAttributes = newValue.TableAttributes;
      // this.TableColumnAttributes = newValue.TableColumnAttributes;
    }
  },
  data() {
    return {
      // tableData: [],
      option: {},
      TableAttributes: {},
      TableColumnAttributes: {},
      currentPage: 1,
      pagesize: 10
    };
  },
  methods: {
    // 渲染表格数据
    tableList() {
      let a = [];
      for (let i = 0; i < 400; i++) {
        a.push({
          date: "2016-05-03" + i,
          name: "王小虎" + i,
          address: "上海市普陀区金沙江路 1516 弄" + i,
          data1: "data" + i,
          data2: "data" + i,
          data3: "data" + i,
          data4: "data" + i,
          data5: "data" + i,
          data6: "data" + i,
          data7: "data" + i
        });
      }
      // console.log(a);
      return a;
    },
    // 点击第几页
    handleCurrentChange(currentPage) {
      this.currentPage = currentPage;
      console.log(this.currentPage, "显示跳转页数");
    },
    // 控制每页下拉的数据
    handleSizeChange(size) {
      this.pagesize = size;
      console.log(this.pagesize, "显示页数");
    }
  },
  mounted() {
    console.log("子组件", this.Attributes);
    // 获取接受到的表格配置
    this.TableAttributes = this.Attributes.TableAttributes;
    this.TableColumnAttributes = this.Attributes.TableColumnAttributes;
    //表格数据
    // this.tableData = this.tableList();
  }
};
</script>
