<template>
  <section>
    <div class="add-btn">
      <el-button type="primary" icon="el-icon-circle-plus-outline" @click="addMonitor()" round>新增</el-button>
    </div>
    <div class="table-continer">
      <h3>监测员列表</h3>
      <el-table :data="tabledata" border stripe highlight-current-row style="width: 100%">
        <el-table-column prop="name" label="姓名"></el-table-column>
        <el-table-column prop="userName" label="账号"></el-table-column>
        <el-table-column prop="pass" label="密码"></el-table-column>
        <el-table-column prop="position" label="职务"></el-table-column>
        <!-- <el-table-column prop="address" label="地址" width="300"></el-table-column>
        <el-table-column prop="zip" label="邮编" width="120"></el-table-column>-->
        <el-table-column label="操作" width="100">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="editMonitor(scope.$index,scope.row)">编辑</el-button>
            <el-button type="text" size="small" @click="deleteMonitor(scope.$index,scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <el-dialog :title="dialogTitle" :visible.sync="dialogFormVisible">
      <el-form :model="form" ref="ruleForm" width="75%" center>
        <el-form-item>
          <el-col :span="11">
            <el-form-item label="姓名" :label-width="formLabelWidth">
              <el-input v-model="form.name" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item label="职位" :label-width="formLabelWidth">
              <el-select v-model="form.position" placeholder="请选择职位">
                <el-option label="监测员" value="shanghai"></el-option>
                <el-option label="监测员" value="beijing"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-form-item>
        <el-form-item>
          <el-col :span="11">
            <el-form-item label="账号" :label-width="formLabelWidth">
              <el-input v-model="form.userName" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item label="密码" :label-width="formLabelWidth">
              <el-input v-model="form.pass" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
        </el-form-item>
        <el-form-item>
          <el-col :span="11">
            <el-form-item label="电话" :label-width="formLabelWidth">
              <el-input v-model="form.tel" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item label="邮箱" :label-width="formLabelWidth">
              <el-input v-model="form.email" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
        </el-form-item>
        <el-form-item>
          <el-col :span="11">
            <el-form-item label="职称证书名称" :label-width="formLabelWidth">
              <el-input v-model="form.titleCertificate" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item label="职称证书编号" :label-width="formLabelWidth">
              <el-input v-model="form.titleCertificateID" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
        </el-form-item>
        <el-form-item>
          <el-col :span="11">
            <el-form-item label="上岗证书名称" :label-width="formLabelWidth">
              <el-input v-model="form.inductionCertificate" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item label="上岗证书编号" :label-width="formLabelWidth">
              <el-input v-model="form.inductionCertificateID" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
        </el-form-item>
        <el-form-item label="资质" :label-width="formLabelWidth">
          <el-upload
            class="upload-demo"
            action="https://jsonplaceholder.typicode.com/posts/"
            :on-preview="handlePreview"
            :on-remove="handleRemove"
            :file-list="fileList"
            list-type="picture"
          >
            <el-button size="small" type="primary">点击上传</el-button>
            <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
          </el-upload>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="dialogFormVisible = false">确 定</el-button>
      </div>
    </el-dialog>
  </section>
</template>

<script>
export default {
  methods: {
    handleClick(row) {
      console.log(row);
    }
  },
  data() {
    return {
      dialogTableVisible: false,
      dialogFormVisible: false,
      fileList: [],
      formLabelWidth: "120px",
      dialogTitle: "新增监测员",
      tabledata: [
        {
          memberno: "人员编号",
          userName: "账户名",
          pass: "密码",
          name: "姓名",
          position: "职位",
          role: "人员类型",
          ID: "机构ID",
          unitno: "归属机构",
          tel: "联系电话",
          email: "邮箱",
          titleCertificate: "职称证书名称",
          titleCertificateID: "职称证书编号",
          titleCertificateIMG: "职称证书图片",
          datamodify: "数据修改",
          inductionCertificate: "上岗证书名称",
          inductionCertificateID: "上岗证书编号",
          inductionCertificateIMG: "上岗证书图片"
        },
        {
          memberno: "人员编号",
          userName: "账户名",
          pass: "密码",
          name: "姓名",
          position: "职位",
          role: "人员类型",
          ID: "机构ID",
          unitno: "归属机构",
          tel: "联系电话",
          email: "邮箱",
          titleCertificate: "职称证书名称",
          titleCertificateID: "职称证书编号",
          titleCertificateIMG: "职称证书图片",
          datamodify: "数据修改",
          inductionCertificate: "上岗证书名称",
          inductionCertificateID: "上岗证书编号",
          inductionCertificateIMG: "上岗证书图片"
        }
      ],
      form: {
        memberno: "人员编号",
        userName: "账户名",
        pass: "密码",
        name: "姓名",
        position: "职位",
        role: "人员类型",
        ID: "机构ID",
        unitno: "归属机构",
        tel: "联系电话",
        email: "邮箱",
        titleCertificate: "职称证书名称",
        titleCertificateID: "职称证书编号",
        titleCertificateIMG: "职称证书图片",
        datamodify: "数据修改",
        inductionCertificate: "上岗证书名称",
        inductionCertificateID: "上岗证书编号",
        inductionCertificateIMG: "上岗证书图片"
      }
    };
  },
  methods: {
    editMonitor(index, row) {
      this.dialogTitle = "编辑监测员";
      this.form = row;
      this.dialogFormVisible = true;
    },
    deleteMonitor(index, row) {
      console.log(index);
      console.log(row);
      this.form = row;
      this.dialogFormVisible = true;
    },
    addMonitor() {
      this.clearDialog();
      console.log(this.form);

      this.dialogTitle = "新增监测员";
      this.dialogFormVisible = true;
    },

    clearDialog() {
      this.form = {
        memberno: "",
        userName: "",
        pass: "",
        name: "",
        position: "",
        role: "",
        ID: "",
        unitno: "",
        tel: "",
        email: "",
        titleCertificate: "",
        titleCertificateID: "",
        titleCertificateIMG: "",
        datamodify: "",
        inductionCertificate: "",
        inductionCertificateID: "",
        inductionCertificateIMG: ""
      };
    },
    handleRemove(file, fileList) {
      console.log(file, fileList);
    },
    handlePreview(file) {
      console.log(file);
    }
  }
};
</script>
<style lang="scss" scoped>
.add-btn {
  text-align: right;
  margin: 5px;
}
.table-continer {
  width: 100%;
  text-align: center;
}
.el-select {
  width: 100%;
}
</style>