<template>
  <section>
    <div class="add-btn">
      <el-button type="primary" icon="el-icon-circle-plus-outline" @click="addMonitor()" round>新增</el-button>
    </div>
    <div class="table-continer">
      <h3>项目列表</h3>
      <el-table :data="tabledata" border stripe highlight-current-row style="width: 100%">
        <el-table-column prop="id" label="项目编号"></el-table-column>
        <el-table-column prop="name" label="项目名"></el-table-column>
        <el-table-column prop="address" label="项目地址"></el-table-column>
        <el-table-column prop="dbName" label="数据库名"></el-table-column>
        <el-table-column prop="monitoringUnit" label="监测单位"></el-table-column>
        <el-table-column prop="requesterUnit" label="委托单位"></el-table-column>
        <el-table-column prop="period" label="监测周期"></el-table-column>
        <el-table-column prop="status" label="监测状态"></el-table-column>
        <el-table-column label="操作" width="100">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="editMonitor(scope.$index,scope.row)">编辑</el-button>
            <el-button type="text" size="small" @click="deleteMonitor(scope.$index,scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <el-dialog :title="dialogTitle" :visible.sync="dialogFormVisible">
      <el-form :model="form" ref="ruleForm" width="75%" center>
        <el-form-item>
          <el-col :span="11">
            <el-form-item label="项目名" :label-width="formLabelWidth">
              <el-input v-model="form.name" autocomplete="off" placeholder="请输入项目名"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item label="项目地址" :label-width="formLabelWidth">
              <el-input v-model="form.address" autocomplete="off" placeholder="请输入项目地址"></el-input>
            </el-form-item>
          </el-col>
        </el-form-item>
        <el-form-item>
          <el-col :span="11">
            <el-form-item label="委托单位" :label-width="formLabelWidth">
              <el-input v-model="form.requesterUnit" autocomplete="off" placeholder="请输入委托单位"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item label="监测单位" :label-width="formLabelWidth">
              <el-input v-model="form.monitoringUnit" autocomplete="off" placeholder="请输入监测单位"></el-input>
            </el-form-item>
          </el-col>
        </el-form-item>
        <el-form-item>
          <el-col :span="11">
            <el-form-item label="开始时间" :label-width="formLabelWidth">
              <el-date-picker v-model="form.startTime" type="date" placeholder="选择日期"></el-date-picker>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item label="结束时间" :label-width="formLabelWidth">
              <el-date-picker v-model="form.endTime" type="date" placeholder="选择日期"></el-date-picker>
            </el-form-item>
          </el-col>
        </el-form-item>
        <el-form-item>
          <el-col :span="11">
            <el-form-item label="安全等级" :label-width="formLabelWidth">
              <el-select v-model="form.securityLevel" placeholder="请选择安全等级">
                <el-option label="一级" value="1"></el-option>
                <el-option label="二级" value="2"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item label="责任人" :label-width="formLabelWidth">
              <el-input v-model="form.principal" autocomplete="off" placeholder="请输入监测单位"></el-input>
            </el-form-item>
          </el-col>
        </el-form-item>
        <el-form-item>
          <el-col :span="11">
            <el-form-item label="所属区域" :label-width="formLabelWidth">
              <el-cascader
                v-model="form.region"
                :options="options"
                :separator="' '"
                :props="{ expandTrigger: 'hover' }"
                class="city-cascader"
                clearable
                placeholder="请选择所属区域"
              ></el-cascader>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item label="项目类型" :label-width="formLabelWidth">
              <el-select v-model="form.projectType" placeholder="请选择项目类型">
                <el-option label="桥梁" value="1"></el-option>
                <el-option label="边坡" value="2"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-form-item>
        <el-form-item>
          <el-col :span="11">
            <el-form-item label="监测人员" :label-width="formLabelWidth">
              <el-select v-model="form.Monitor" placeholder="请选择监测人员">
                <el-option label="张工" value="1"></el-option>
                <el-option label="李工" value="12"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item label="监督人员" :label-width="formLabelWidth">
              <el-select v-model="form.supervisor" placeholder="请选择监督人员">
                <el-option label="梁工" value="1"></el-option>
                <el-option label="刘工" value="25"></el-option>
              </el-select>
            </el-form-item>
          </el-col>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="dialogFormVisible = false">确 定</el-button>
      </div>
    </el-dialog>
  </section>
</template>

<script>
import options from "@/utils/CityAscader/country-data.js";
export default {
  methods: {
    handleClick(row) {
      console.log(row);
    }
  },
  data() {
    return {
      options: options, //存放城市数据
      dialogTableVisible: false,
      dialogFormVisible: false,
      fileList: [],
      formLabelWidth: "120px",
      dialogTitle: "新增项目",
      tabledata: [
        {
          id: 115,
          name: "佛山办事处监测",
          address: "佛山南海区",
          dbName: "testDB",
          monitoringUnit: "南方测绘",
          requesterUnit: "南方测绘广州分公司监测部",
          period: "2018-/10/10 00:00  -2020/10/10 00:00",
          status: true
        }
      ],
      form: {
        id: 115,
        name: "佛山办事处监测",
        address: "佛山南海区",
        requesterUnit: "南方测绘广州分公司监测部",
        monitoringUnit: "南方测绘",
        startTime: "2018-/10/10 00:00",
        endTime: "2020/10/10 00:00",
        securityLevel: true,
        principal: "杨工",
        region: "省市区",
        projectType: "",
        Monitor: "",
        supervisor: "",
        constructionUnit: {
          name: "",
          executive: "",
          phone: ""
        }
      }
    };
  },
  methods: {
    editMonitor(index, row) {
      this.dialogTitle = "编辑项目";
      // this.form = row;
      this.dialogFormVisible = true;
    },
    deleteMonitor(index, row) {
      console.log(index);
      console.log(row);
      // this.form = row;
      this.$confirm("此操作将删除该项, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.$message({
            type: "success",
            message: "删除成功!",
            duration: 600
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除",
            duration: 600
          });
        });
    },
    addMonitor() {
      this.clearDialog();
      console.log(this.form);

      this.dialogTitle = "新增项目";
      this.dialogFormVisible = true;
    },

    clearDialog() {
      this.form = {
        id: "",
        name: "",
        account: "",
        pass: "",
        tel: "",
        position: "",
        email: "",
        unitno: ""
      };
    },
    handleRemove(file, fileList) {
      console.log(file, fileList);
    },
    handlePreview(file) {
      console.log(file);
    }
  }
};
</script>
<style lang="scss" scoped>
.add-btn {
  text-align: right;
  margin: 5px;
}
.table-continer {
  width: 100%;
  text-align: center;
}
.el-select {
  width: 100%;
}
.city-cascader {
  width: 100%;
}
.el-date-editor {
  width: 100%;
}
</style>