<template>
  <section>
    <div class="add-btn">
      <el-button type="primary" icon="el-icon-circle-plus-outline" @click="addMonitor()" round>新增</el-button>
    </div>
    <div class="table-continer">
      <h3>监督员列表</h3>
      <el-table :data="tabledata" border stripe highlight-current-row style="width: 100%">
        <el-table-column prop="name" label="姓名"></el-table-column>
        <el-table-column prop="account" label="账号"></el-table-column>
        <el-table-column prop="pass" label="密码"></el-table-column>
        <el-table-column prop="tel" label="电话"></el-table-column>
        <el-table-column prop="email" label="邮箱"></el-table-column>
        <el-table-column prop="position" label="职务"></el-table-column>
        <el-table-column prop="unitno" label="归属机构"></el-table-column>
        <el-table-column label="操作" width="100">
          <template slot-scope="scope">
            <el-button type="text" size="small" @click="editMonitor(scope.$index,scope.row)">编辑</el-button>
            <el-button type="text" size="small" @click="deleteMonitor(scope.$index,scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
    </div>

    <el-dialog :title="dialogTitle" :visible.sync="dialogFormVisible">
      <el-form :model="form" ref="ruleForm" width="75%" center>
        <el-form-item>
          <el-col :span="11">
            <el-form-item label="姓名" :label-width="formLabelWidth">
              <el-input v-model="form.name" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item label="归属机构" :label-width="formLabelWidth">
              <el-input v-model="form.unitno" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
        </el-form-item>
        <el-form-item>
          <el-col :span="11">
            <el-form-item label="账号" :label-width="formLabelWidth">
              <el-input v-model="form.account" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item label="密码" :label-width="formLabelWidth">
              <el-input v-model="form.pass" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
        </el-form-item>
        <el-form-item>
          <el-col :span="11">
            <el-form-item label="电话" :label-width="formLabelWidth">
              <el-input v-model="form.tel" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
          <el-col :span="11">
            <el-form-item label="邮箱" :label-width="formLabelWidth">
              <el-input v-model="form.email" autocomplete="off"></el-input>
            </el-form-item>
          </el-col>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="dialogFormVisible = false">确 定</el-button>
      </div>
    </el-dialog>
  </section>
</template>

<script>
export default {
  methods: {
    handleClick(row) {
      console.log(row);
    }
  },
  data() {
    return {
      dialogTableVisible: false,
      dialogFormVisible: false,
      fileList: [],
      formLabelWidth: "120px",
      dialogTitle: "新增监督员",
      tabledata: [
        {
          id: "编号",
          name: "姓名",
          account: "账号",
          pass: "密码",
          tel: "联系电话",
          position: "职务",
          email: "邮箱",
          unitno: "归属机构"
        }
      ],
      form: {
        id: "编号",
        name: "姓名",
        account: "账号",
        pass: "密码",
        tel: "联系电话",
        position: "职务",
        email: "邮箱",
        unitno: "归属机构"
      }
    };
  },
  methods: {
    editMonitor(index, row) {
      this.dialogTitle = "编辑监督员";
      this.form = row;
      this.dialogFormVisible = true;
    },
    deleteMonitor(index, row) {
      console.log(index);
      console.log(row);
      this.form = row;
      this.$confirm("此操作将删除该用户, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning"
      })
        .then(() => {
          this.$message({
            type: "success",
            message: "删除成功!",
            duration: 600
          });
        })
        .catch(() => {
          this.$message({
            type: "info",
            message: "已取消删除",
            duration: 600
          });
        });
    },
    addMonitor() {
      this.clearDialog();
      console.log(this.form);

      this.dialogTitle = "新增监督员";
      this.dialogFormVisible = true;
    },

    clearDialog() {
      this.form = {
        id: "",
        name: "",
        account: "",
        pass: "",
        tel: "",
        position: "",
        email: "",
        unitno: ""
      };
    },
    handleRemove(file, fileList) {
      console.log(file, fileList);
    },
    handlePreview(file) {
      console.log(file);
    }
  }
};
</script>
<style lang="scss" scoped>
.add-btn {
  text-align: right;
  margin: 5px;
}
.table-continer {
  width: 100%;
  text-align: center;
}
.el-select {
  width: 100%;
}
</style>