<template>
  <el-container class="container">
    <el-header>
      <v-header v-if="!menuShow"></v-header>
      <!-- <v-btn></v-btn> -->
      <!-- <v-btn></v-btn> -->
      <v-mobileHeader v-if="menuShow"></v-mobileHeader>
    </el-header>
    <el-main>
      <el-row class="main-container row-bg" justify="center" :gutter="10">
        <el-col :xs="24" :sm="16" :md="16" :lg="18" :xl="20">
          <!-- <el-main> -->
          <v-olMap :tableData="tableList" :targetPoint="targetPointList"></v-olMap>
          <!-- </el-main> -->
          <!-- <el-footer>Foote r</el-footer> -->
        </el-col>
        <el-col :xs="24" :sm="8" :md="8" :lg="6" :xl="4">
          <v-projectList></v-projectList>
        </el-col>
      </el-row>
    </el-main>
  </el-container>
</template>
<script>
import Header from "@/views/Header/Header.vue";
import MobileHeader from "@/views/Header/MobileHeader.vue";
import ProjectList from "@/views/ProjectList/ProjectList.vue";
import olMap from "@/views/map/Map.vue";
// import olMap from "@/views/map/Map copy.vue";
// import olMap from "@/views/map/olMap.vue";
// import Button from "./Table/Btntext";
import titleAddBtn from "./Table/AddBtn";

import { mapGetters } from "vuex";
export default {
  components: {
    "v-header": Header,
    "v-mobileHeader": MobileHeader,
    "v-projectList": ProjectList,
    "v-olMap": olMap,
    "v-btn": titleAddBtn
  },
  data() {
    return {
      msg: "",
      tableList: [
        {
          username: "text1",
          lon: 113.439,
          lat: 23.2146
        }
      ],
      targetPointList: [
        {
          username: "text1",
          lon: 113.439,
          lat: 23.2146
        }
      ]
    };
  },
  methods: {
    getList() {}
  },
  mounted() {},
  computed: {
    menuShow() {
      return this.$store.getters.getMObileType;
    }
  }
};
</script>
<style lang="scss" scoped>
.el-header {
  padding: 0px;
}

.el-main {
  padding: 5px;
}
</style>