<template>
  <el-container class="container">
    <el-header>
      <v-header></v-header>
      <v-mobileHeader></v-mobileHeader>
    </el-header>
    <el-container class="main-container">
      <el-container>
        <el-main>
          <v-olMap :tableData="tableList" :targetPoint="targetPointList"></v-olMap>
        </el-main>
        <el-footer>Footer</el-footer>
      </el-container>
      <el-aside width="230px">
        <v-projectList></v-projectList>
      </el-aside>
    </el-container>
  </el-container>
</template>
<script>
import Header from "@/views/Header/Header.vue";
import MobileHeader from "@/views/Header/MobileHeader.vue";
import ProjectList from "@/views/ProjectList/ProjectList.vue";
import olMap from "@/views/map/Map.vue";
// import olMap from "@/views/map/olMap.vue";
export default {
  components: {
    "v-header": Header,
    "v-mobileHeader": MobileHeader,
    "v-projectList": ProjectList,
    "v-olMap": olMap
  },
  data() {
    return {
      msg: "",
      tableList: [
        {
          username: "text1",
          lon: 113.439,
          lat: 23.2146
        }
      ],
      targetPointList: [
        {
          username: "text1",
          lon: 113.439,
          lat: 23.2146
        }
      ]
    };
  },
  methods: {
    getList() {}
  },
  mounted() {}
};
</script>
<style lang="scss" scoped>
</style>