<template>
  <!--为echarts准备一个具备大小的容器dom-->
  <div style="width:100%;height: auto;">
    <el-button type="primary" icon="el-icon-search" @click="changeVal">搜索</el-button>
    <el-scrollbar style="height:100%;">
      <v-echart2
        v-for="(item, index) in data"
        :key="index"
        :chartName="item.class"
        :chartOption="item.option"
      ></v-echart2>
    </el-scrollbar>
    <!-- <v-echart2 :chartName="chartName" :chartOption="option"></v-echart2> -->
  </div>
</template>
<script>
// import echarts from "echarts";
// import defaultConfig from "./Configuration/defaultConfig";
import Echart2 from "./Echart2";
// import Echart3 from "./Echart3";
export default {
  name: "",
  components: {
    "v-echart2": Echart2
    // "v-echart": Echart3
  },
  data() {
    return {
      chartName: "chart001",
      option: {
        title: {
          text: "折线图堆叠"
        },
        tooltip: {
          trigger: "axis"
        },
        legend: {
          // data: ["邮件营销", "联盟广告", "视频广告", "直接访问", "搜索引擎"]
        },
        grid: {
          left: "3%",
          right: "4%",
          bottom: "3%",
          containLabel: true
        },
        toolbox: {
          feature: {
            //saveAsImage: {}
          }
        },
        xAxis: {
          type: "category",
          boundaryGap: false,
          data: ["周一", "周二", "周三", "周四", "周五", "周六", "周日"]
        },
        yAxis: {
          type: "value"
        },
        series: [
          {
            name: "邮件营销",
            type: "line",
            stack: "总量",
            data: [120, 132, 101, 134, 90, 230, 210]
          },
          {
            name: "联盟广告",
            type: "line",
            stack: "总量",
            data: [220, 182, 191, 234, 290, 330, 310]
          },
          {
            name: "视频广告",
            type: "line",
            stack: "总量",
            data: [150, 232, 201, 154, 190, 330, 410]
          },
          {
            name: "直接访问",
            type: "line",
            stack: "总量",
            data: [320, 332, 301, 334, 390, 330, 320]
          },
          {
            name: "搜索引擎",
            type: "line",
            stack: "总量",
            data: [820, 932, 901, 934, 1290, 1330, 1320]
          }
        ]
      },
      data: [
        {
          class: "chart1",
          option: {
            title: {
              text: "折线图111"
            },
            tooltip: {
              trigger: "axis"
            },
            legend: {
              // data: ["邮件营销", "联盟广告", "视频广告", "直接访问", "搜索引擎"]
            },
            grid: {
              left: "3%",
              right: "4%",
              bottom: "3%",
              containLabel: true
            },
            toolbox: {
              feature: {
                //saveAsImage: {}
              }
            },
            xAxis: {
              type: "category",
              boundaryGap: false,
              data: ["周一", "周二", "周三", "周四", "周五", "周六", "周日"]
            },
            yAxis: {
              type: "value"
            },
            series: [
              {
                name: "邮件营销",
                type: "line",
                stack: "总量",
                data: [120, 132, 101, 134, 90, 230, 210]
              },
              {
                name: "联盟广告",
                type: "line",
                stack: "总量",
                data: [220, 182, 191, 234, 290, 330, 310]
              },
              {
                name: "视频广告",
                type: "line",
                stack: "总量",
                data: [150, 232, 201, 154, 190, 330, 410]
              },
              {
                name: "直接访问",
                type: "line",
                stack: "总量",
                data: [320, 332, 301, 334, 390, 330, 320]
              },
              {
                name: "搜索引擎",
                type: "line",
                stack: "总量",
                data: [820, 932, 901, 934, 1290, 1330, 1320]
              }
            ]
          }
        },
        {
          class: "chart2",
          option: {
            title: {
              text: "折线图2222"
            },
            tooltip: {
              trigger: "axis"
            },
            legend: {
              // data: ["邮件营销", "联盟广告", "视频广告", "直接访问", "搜索引擎"]
            },
            grid: {
              left: "3%",
              right: "4%",
              bottom: "3%",
              containLabel: true
            },
            toolbox: {
              feature: {
                //saveAsImage: {}
              }
            },
            xAxis: {
              type: "category",
              boundaryGap: false,
              data: ["周一", "周二", "周三", "周四", "周五", "周六", "周日"]
            },
            yAxis: {
              type: "value"
            },
            series: [
              {
                name: "邮件营销",
                type: "line",
                stack: "总量",
                data: [120, 132, 101, 134, 90, 230, 210]
              },
              {
                name: "联盟广告",
                type: "line",
                stack: "总量",
                data: [220, 182, 191, 234, 290, 330, 310]
              },
              {
                name: "视频广告",
                type: "line",
                stack: "总量",
                data: [150, 232, 201, 154, 190, 330, 410]
              },
              {
                name: "直接访问",
                type: "line",
                stack: "总量",
                data: [320, 332, 301, 334, 390, 330, 320]
              },
              {
                name: "搜索引擎",
                type: "line",
                stack: "总量",
                data: [820, 932, 901, 934, 1290, 1330, 1320]
              }
            ]
          }
        },
        {
          class: "chart3",
          option: {
            title: {
              text: "折线图3333"
            },
            tooltip: {
              trigger: "axis"
            },
            legend: {
              // data: ["邮件营销", "联盟广告", "视频广告", "直接访问", "搜索引擎"]
            },
            grid: {
              left: "3%",
              right: "4%",
              bottom: "3%",
              containLabel: true
            },
            toolbox: {
              feature: {
                //saveAsImage: {}
              }
            },
            xAxis: {
              type: "category",
              boundaryGap: false,
              data: ["周一", "周二", "周三", "周四", "周五", "周六", "周日"]
            },
            yAxis: {
              type: "value"
            },
            series: [
              {
                name: "邮件营销",
                type: "line",
                stack: "总量",
                data: [120, 132, 101, 134, 90, 230, 210]
              },
              {
                name: "联盟广告",
                type: "line",
                stack: "总量",
                data: [220, 182, 191, 234, 290, 330, 310]
              },
              {
                name: "视频广告",
                type: "line",
                stack: "总量",
                data: [150, 232, 201, 154, 190, 330, 410]
              },
              {
                name: "直接访问",
                type: "line",
                stack: "总量",
                data: [320, 332, 301, 334, 390, 330, 320]
              },
              {
                name: "搜索引擎",
                type: "line",
                stack: "总量",
                data: [820, 932, 901, 934, 1290, 1330, 1320]
              }
            ]
          }
        },
        {
          class: "chart4",
          option: {
            title: {
              text: "折线图4444"
            },
            tooltip: {
              trigger: "axis"
            },
            legend: {
              // data: ["邮件营销", "联盟广告", "视频广告", "直接访问", "搜索引擎"]
            },
            grid: {
              left: "3%",
              right: "4%",
              bottom: "3%",
              containLabel: true
            },
            toolbox: {
              feature: {
                //saveAsImage: {}
              }
            },
            xAxis: {
              type: "category",
              boundaryGap: false,
              data: ["周一", "周二", "周三", "周四", "周五", "周六", "周日"]
            },
            yAxis: {
              type: "value"
            },
            series: [
              {
                name: "邮件营销",
                type: "line",
                stack: "总量",
                data: [120, 132, 101, 134, 90, 230, 210]
              },
              {
                name: "联盟广告",
                type: "line",
                stack: "总量",
                data: [220, 182, 191, 234, 290, 330, 310]
              },
              {
                name: "视频广告",
                type: "line",
                stack: "总量",
                data: [150, 232, 201, 154, 190, 330, 410]
              },
              {
                name: "直接访问",
                type: "line",
                stack: "总量",
                data: [320, 332, 301, 334, 390, 330, 320]
              },
              {
                name: "搜索引擎",
                type: "line",
                stack: "总量",
                data: [820, 932, 901, 934, 1290, 1330, 1320]
              }
            ]
          }
        }
      ]
    };
  },
  methods: {
    changeVal() {
      this.chartName = "chart003";
    }
  },
  //调用
  mounted() {
    // this.drawPie("main");
    // console.log(this.defaultConfig);
  }
};
</script>
<style scoped>
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
</style>