<template>
  <!--为echarts准备一个具备大小的容器dom-->
  <div id="charts-box" style="width:100%;height: auto;">
    <v-echart2
      v-for="(item, index) in data"
      :key="index"
      :chartName="item.class"
      :chartOption="item.option"
      @dialogType="dialogType"
    ></v-echart2>
    <v-pointdialog :dialogVisible="dialogVisible" :pointVal="pointVal" @closeDialog="closeDialog"></v-pointdialog>
  </div>
</template>
<script>
import EchartItem from "./Echart2";
import PointDialog from "./PointDialog";
// var elementResizeDetectorMaker = require("element-resize-detector");
export default {
  name: "",
  components: {
    "v-echart2": EchartItem,
    "v-pointdialog": PointDialog
    // "v-echart": Echart3
  },
  data() {
    return {
      dialogVisible: false,
      pointVal: {},
      chartName: "chart001",
      option: {
        title: {
          text: "折线图堆叠"
        },
        tooltip: {
          trigger: "axis"
        },
        legend: {
          // data: ["邮件营销", "联盟广告", "视频广告", "直接访问", "搜索引擎"]
        },
        grid: {
          left: "3%",
          right: "4%",
          bottom: "3%",
          containLabel: true
        },
        toolbox: {
          feature: {
            //saveAsImage: {}
          }
        },
        xAxis: {
          type: "category",
          boundaryGap: false,
          data: ["周一", "周二", "周三", "周四", "周五", "周六", "周日"]
        },
        yAxis: {
          type: "value"
        },
        series: [
          {
            name: "邮件营销",
            type: "line",
            stack: "总量",
            data: [120, 132, 101, 134, 90, 230, 210]
          },
          {
            name: "联盟广告",
            type: "line",
            stack: "总量",
            data: [220, 182, 191, 234, 290, 330, 310]
          },
          {
            name: "视频广告",
            type: "line",
            stack: "总量",
            data: [150, 232, 201, 154, 190, 330, 410]
          },
          {
            name: "直接访问",
            type: "line",
            stack: "总量",
            data: [320, 332, 301, 334, 390, 330, 320]
          },
          {
            name: "搜索引擎",
            type: "line",
            stack: "总量",
            data: [820, 932, 901, 934, 1290, 1330, 1320]
          }
        ]
      },
      data: [
        {
          class: "chart4",
          option: {
            title: {
              text: "温度监测曲线",
              x: "center"
            },
            tooltip: {
              trigger: "axis",
              axisPointer: {
                type: "cross"
              }
            },
            legend: {
              type: "scroll",
              orient: "vertical",
              right: "1%",
              top: "10%",
              bottom: 20
            },
            grid: {
              left: "3%",
              right: "10%",
              bottom: "10%",
              containLabel: true
            },
            toolbox: {
              feature: {
                //saveAsImage: {}
              }
            },
            xAxis: {
              type: "category",
              boundaryGap: false,
              data: ["周一", "周二", "周三", "周四", "周五", "周六", "周日"]
            },
            yAxis: {
              type: "value"
            },
            series: [
              {
                name: "A1",
                type: "line",
                stack: "总量",
                data: [120, 132, 101, 134, 90, 230, 210],
                markLine: {
                  silent: true,
                  // symbol: "none",
                  label: {
                    // show: false
                    // position: ""
                  },
                  data: [
                    {
                      yAxis: 500
                    },
                    {
                      yAxis: 1000
                    },
                    {
                      yAxis: 1500
                    },
                    {
                      yAxis: 2000
                    },
                    {
                      yAxis: 3000
                    }
                  ]
                }
              },
              {
                name: "A2",
                type: "line",
                stack: "总量",
                data: [220, 182, 191, 234, 290, 330, 310]
              },
              {
                name: "A3",
                type: "line",
                stack: "总量",
                data: [150, 232, 201, 154, 190, 330, 410]
              },
              {
                name: "A4",
                type: "line",
                stack: "总量",
                data: [320, 332, 301, 334, 390, 330, 320]
              },
              {
                name: "A5",
                type: "line",
                stack: "总量",
                data: [820, 932, 901, 934, 1290, 1330, 1320]
              }
            ]
          }
        },
        {
          class: "chart3",
          option: {
            title: {
              text: "雨量监测曲线"
              // left: "center"
            },
            tooltip: {
              trigger: "axis"
            },
            legend: {
              // x: "center",
              // y: "bottom"
              // bottom: "10%"
            },
            grid: {
              left: "3%",
              right: "10%",
              bottom: "5%",
              containLabel: true
            },
            toolbox: {
              feature: {
                //saveAsImage: {}
              }
            },
            xAxis: {
              type: "category",
              boundaryGap: false,
              data: ["周一", "周二", "周三", "周四", "周五", "周六", "周日"]
            },
            yAxis: {
              type: "value"
            },
            series: [
              {
                name: "A1",
                type: "line",
                stack: "总量",
                data: [120, 132, 101, 134, 90, 230, 210]
              },
              {
                name: "A2",
                type: "line",
                stack: "总量",
                data: [220, 182, 191, 234, 290, 330, 310]
              },
              {
                name: "A3",
                type: "line",
                stack: "总量",
                data: [150, 232, 201, 154, 190, 330, 410]
              },
              {
                name: "A4",
                type: "line",
                stack: "总量",
                data: [320, 332, 301, 334, 390, 330, 320]
              },
              {
                name: "A5",
                type: "line",
                stack: "总量",
                data: [820, 932, 901, 934, 1290, 1330, 1320]
              }
            ]
          }
        }
      ]
    };
  },
  methods: {
    changeVal() {
      this.chartName = "chart003";
    },
    dialogType(type, pointVal) {
      this.dialogVisible = false;
      console.log("父组件中转值", type, pointVal);
      this.dialogVisible = type;
      this.pointVal = pointVal;
    },
    closeDialog(type) {
      console.log("父组件中接收dialog转值", type);
      this.dialogVisible = type;
    }
  },
  //调用
  mounted() {
    // this.drawPie("main");
    // console.log(this.defaultConfig);
    // let erd = elementResizeDetectorMaker();
    // erd.listenTo(document.getElementById("charts-box"), function(element) {
    //   var width = element.offsetWidth;
    //   var height = element.offsetHeight;
    //   console.log("Size: " + width + "x" + height);
    // });
  }
};
</script>
<style scoped>
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
</style>