<template>
  <!--为echarts准备一个具备大小的容器dom-->
  <div>
    <!-- <div id="main" style="width:100%;height: 500px;"></div> -->
    <div
      :id="chartName"
      class="chart"
      :class="chartName"
      :ref="chartName"
      style="width:100%;height: 550px;"
    ></div>
  </div>
</template>
<script>
import echarts from "echarts";

// 元素调整大小检测器
var elementResizeDetectorMaker = require("element-resize-detector");
export default {
  name: "",
  props: {
    chartName: {
      type: String,
      default: "chart",
      required: false
    },
    chartOption: {
      type: Object,
      // default: {},
      required: false
    }
  },
  data() {
    return {
      charts: Object,
      name: ""
    };
  },
  watch: {
    chartName(newValue, oldValue) {
      // this.Name = newValue;
      this.name = newValue;
      // this.init();
      console.log("new", newValue);
    }
  },
  methods: {
    /**
     * 初始化曲线
     */
    initChart() {
      // console.log(this.chartName, this.chartOption);
      // console.log(document.getElementById(this.name));
      console.log(this.chartOption);
      let that = this;
      this.charts = echarts.init(document.getElementById(this.name));
      this.charts.setOption(this.chartOption);
      // 绑定曲线地点击事件
      this.charts.on("click", function(params) {
        // 控制台打印数据的名称
        console.log("点击", params.name, params);
        // 传值父组件，显示点数据dialog
        that.sendMsg(params);
      });
      // 绑定window.resize()相应浏览器变化
      // this.$echartsResize(this.charts);
    },
    /**
     * 曲线响应式
     */
    chartResponsive() {
      let that = this;
      let chartResize = that.$throttle2(function() {
        that.charts.resize();
        let time = new Date();
        let sec = time.getMilliseconds();
        console.log(sec);
        console.log("resize()");
      }, 800);
      let erd = elementResizeDetectorMaker();
      erd.listenTo(document.getElementById(this.name), chartResize);
    },
    sendMsg(pointVal) {
      this.$emit("dialogType", true, pointVal);
      console.log("曲线传递值", true, pointVal);
    }
  },
  mounted() {
    this.name = this.chartName;
    this.initChart();
    this.chartResponsive();
  }
};
</script>
<style scoped>
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
</style>