<template>
  <el-dialog :title="title" :visible.sync="dialogTableVisible" @close="closeDialog">
    <p dis>{{pointData}}</p>
    <el-table stripe border :data="gridData" empty-text="暂无数据">
      <el-table-column property="name" label="测点"></el-table-column>
      <el-table-column property="date" label="时间"></el-table-column>
      <el-table-column property="temperature" label="温度(℃)"></el-table-column>
    </el-table>
    <el-pagination
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="currentPage"
      :page-sizes="[100, 200, 300, 400]"
      :page-size="100"
      layout="total, sizes, prev, pager, next, jumper"
      :total="400"
    ></el-pagination>
  </el-dialog>
</template>
<script>
export default {
  props: {
    dialogVisible: {
      type: Boolean,
      default: false,
      required: false
    },
    pointVal: {
      type: Object,
      required: false
    }
  },
  data() {
    return {
      title: "数据",
      dialogTableVisible: false,
      pointValue: {},
      pointData: "",
      currentPage: 4,
      gridData: [
        {
          name: "A1",
          date: "2019-05-02",
          temperature: "25"
        },
        {
          name: "A2",
          date: "2019-05-04",
          temperature: "29"
        },
        {
          name: "A3",
          date: "2019-05-01",
          temperature: "33"
        },
        {
          name: "A4",
          date: "2019-05-03",
          temperature: "34"
        }
      ]
    };
  },
  watch: {
    dialogVisible(newValue, oldValue) {
      console.log("弹窗接收值-type", this.dialogVisible);
      this.dialogTableVisible = newValue;
    },
    pointVal(newValue, oldValue) {
      console.log("弹窗接收值-pointVal", this.pointVal);
      this.pointValue = newValue;
      this.title = this.pointValue.name + "数据";
      this.pointData = this.pointValue.data;
    }
  },
  methods: {
    closeDialog() {
      this.$emit("closeDialog", false);
      console.log("dialog关闭回调值", false);
    },
    handleSizeChange(val) {
      console.log(`每页 ${val} 条`);
    },
    handleCurrentChange(val) {
      console.log(`当前页: ${val}`);
    }
  }
};
</script>