<template>
  <div>
    <div id="map"></div>
    <div id="popup" class="ol-popup">
      <a href="#" id="popup-closer" class="ol-popup-closer"></a>
      <div id="popup-content">
                <!-- <ul id="message">

                </ul> -->
      </div>
    </div>
    <form class="form-inline">
      <label>Geometry type &nbsp;</label>
      <select name id="type">
        <option value="Point">Point</option>
        <option value="LineString">LineString</option>
        <option value="Polygon">Polygon</option>
        <option value="Circle">Circle</option>
        <option value="None">None</option>
      </select>
    </form>
  </div>
</template>

<script>
import Map from "ol/Map";
import View from "ol/View";
import TileLayer from "ol/layer/Tile";
import VectorLayer from "ol/layer/Vector";
import OSM from "ol/source/OSM";
import VectorSource from "ol/source/Vector";
import { defaults } from "ol/control";
import Draw from "ol/interaction/Draw";
import Overlay from "ol/Overlay";
import { toStringHDMS } from "ol/coordinate";
import { transform } from "ol/proj";

export default {
  name: "MainDiv",
  data() {
    return {
      
    };
  },
  methods: {
    addPopupInfo() {
      let fragment = document.createDocumentFragment();
      let eleDiv1 = document.createElement("div");
      eleDiv1.className = "text";
      for (let i = 0; i < 10; i++) {
        let eleLi = document.createElement("li");
        eleLi.innerText = "测试内容" + i;
        eleDiv1.appendChild(eleLi);
      }
      fragment.appendChild(eleDiv1);
      return fragment;
    }
  },

  mounted() {
    let _this=this;
    let container = document.getElementById("popup");
    let content = document.getElementById('popup-content');
    let closer = document.getElementById("popup-closer");

    //创建一个叠加层，将弹出式窗口定位到地图。
    let overlay = new Overlay({
      //设置弹出框的容器
      element: container,
      //是否自动平移，即假如标记在屏幕边缘，弹出时自动平移地图使弹出框完全可见
      autoPan: true,
      autoPanAnimation: {
        duration: 250
      }
    });
    //点击关闭按钮  关闭弹窗
    closer.onclick = function() {
      //不显示弹出框
      overlay.setPosition(undefined);
      closer.blur();
      return false;
    };
    // 地图图层
    let raster = new TileLayer({
      source: new OSM()
    });
    // 矢量图层
    let source = new VectorSource({ wrapX: false });

    //ol.layer.Vector用于显示在客户端渲染的矢量数据。
    let vector = new VectorLayer({
      source: source
    });

    //地图部分
    let map = new Map({
      layers: [raster, vector],
      target: "map",
      overlays: [overlay],
      view: new View({
        projection: "EPSG:4326",
        center: [120, 30],
        zoom: 4
      }),
      controls: defaults({
        attributionOptions: {
          collapsible: false
        }
      })
    });

    let typeSelect = document.getElementById("type");
    let draw;
    function addInteraction() {
      let value = typeSelect.value;
      if (value !== "None") {
        draw = new Draw({
          source: source,
          type: typeSelect.value
        });
        map.addInteraction(draw);
      }
    }
    typeSelect.onchange = function() {
      map.removeInteraction(draw);
      addInteraction();
    };

    addInteraction();
    //向地图中添加点击处理程序以呈现弹出式窗口。
    map.on("click", function(evt) {
      let coordinate = evt.coordinate;
      // let hdms = toStringHDMS(transform(
      //     coordinate,'EPSG:3857','EPSG:4326'
      // ));
      let hdms = toStringHDMS(coordinate);
      // content.innerHTML = '<ul>'+'<li>'+"坐标："+'<span>'+'<code>'+hdms+'</code>'+'</span>'+'</li>'+'</ul>';
      content.innerHTML='';
      content.appendChild(_this.addPopupInfo());
      overlay.setPosition(coordinate);
      console.log(source);
    });
  }
};
</script>


<style scoped>
#map {
  width: 100%;
  height: 500px;
}
ul li {
  list-style: none;
}
.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 350px;
}
.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}
.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}
.ol-popup-closer:after {
  content: "✖";
}
</style>