<template>
  <!-- <div id="map"></div> -->
  <div id="map-container">
    <div id="map"></div>
    <div id="popup" class="ol-popup">
      <a href="#" id="popup-closer" class="ol-popup-closer"></a>
      <div id="popup-content"></div>
    </div>
    <form class="form-inline">
      <label>Geometry type &nbsp;</label>
      <select name id="type">
        <option value="Point">Point</option>
        <option value="LineString">LineString</option>
        <option value="Polygon">Polygon</option>
        <option value="Circle">Circle</option>
        <option value="None">None</option>
      </select>
    </form>
  </div>
</template>

<script>
import "ol/ol.css";
import Map from "ol/Map";
import View from "ol/View";
import TileLayer from "ol/layer/Tile";
import VectorLayer from "ol/layer/Vector";
import Feature from "ol/Feature";
import WMTS from "ol/source/WMTS";
import OSM from "ol/source/OSM";
import MousePosition from "ol/control/MousePosition";
import VectorSource from "ol/source/Vector";
import WMTSTileGrid from "ol/tilegrid/WMTS";
import olStyle from "ol/style/Style";
import olstyleIcon from "ol/style/Icon";
import olstyleText from "ol/style/Text";
import olstyleFill from "ol/style/Fill";
import olstyleStroke from "ol/style/Stroke";
import Point from "ol/geom/Point";
import { get as getProjection } from "ol/proj";
import { getWidth, getTopLeft } from "ol/extent";
import { defaults as defaultControls, Attribution } from "ol/control";
import { createStringXY } from "ol/coordinate";

import { toStringHDMS } from "ol/coordinate";
import Draw from "ol/interaction/Draw";
import Overlay from "ol/Overlay";

// import { defaults } from "ol/control";

export default {
  name: "MainDiv",
  data() {
    return {
      mapWebKey: "a01d86ebd960888a8ee9322b898a689d", //地图开发key
      mapCenter: [113.27, 23.13], //地图中心坐标
      mapZoom: 12, //地图缩放层级
      mapProjection: null, //地图坐标系
      mapProjectionExtent: null,
      wmtsUrl_1: "http://t{0-7}.tianditu.gov.cn/vec_c/wmts?tk=", //矢量底图
      wmtsUrl_2: "http://t{0-7}.tianditu.gov.cn/cva_c/wmts?tk=", //矢量注记
      mapResoklutions: null,
      mapMatrixIds: null,
      map: null, //地图对象
      view: null, //视图 为地图定义显示窗口
      layers: null, //图层 地图图层数组
      controls: null, //控件
      vectorSource: null,

      popup: {},
      popList: {},

      overlay: null
    };
  },
  methods: {
    initMap() {
      let _this = this;
      // 获取设定坐标系
      this.mapProjection = getProjection("EPSG:4326");
      console.log(this.mapProjection);
      console.log(this);
      // 重新计算分辨率
      this.setMapSize(this.mapProjection);
      //生成地图视图
      this.view = this.getMapView(
        this.mapCenter,
        this.mapProjection,
        this.mapZoom
      );
      // let url1 = this.wmtsUrl_1 + this.webKey;
      // let url2 = this.wmtsUrl_2 + this.webKey;

      // 创建地图对象
      this.map = new Map({
        target: "map",
        view: this.view,
        layers: [
          new TileLayer({
            opacity: 0.7,
            source: new WMTS({
              url: this.wmtsUrl_1 + this.mapWebKey,
              layer: "vec",
              matrixSet: "c",
              format: "tiles",
              style: "default",
              projection: this.projection,
              tileGrid: new WMTSTileGrid({
                origin: getTopLeft(this.projectionExtent),
                resolutions: this.mapResoklutions,
                matrixIds: this.mapMatrixIds
              }),
              wrapX: true
            })
          }),
          new TileLayer({
            opacity: 0.7,
            source: new WMTS({
              url: this.wmtsUrl_2 + this.mapWebKey,
              layer: "cva",
              matrixSet: "c",
              format: "tiles",
              style: "default",
              projection: this.projection,
              tileGrid: new WMTSTileGrid({
                origin: getTopLeft(this.projectionExtent),
                resolutions: this.mapResoklutions,
                matrixIds: this.mapMatrixIds
              }),
              wrapX: true
            })
          })
        ],
        controls: defaultControls({
          attributionOptions: {
            collapsible: false
          }
        })
      });
      this.vectorSource = new VectorSource({
        features: []
      });
      //初始化矢量图层
      let vectorLayer = new VectorLayer({
        source: this.vectorSource
      });
      //将矢量图层添加到map
      this.map.addLayer(vectorLayer);
    },
    /**
     * 设置当前坐标系分辨率
     */
    setMapSize(mapProject) {
      this.projectionExtent = mapProject.getExtent();
      let size = getWidth(this.projectionExtent) / 256;
      this.mapResoklutions = new Array(18);
      this.mapMatrixIds = new Array(18);
      for (let z = 0; z < 19; z++) {
        this.mapResoklutions[z] = size / Math.pow(2, z);
        this.mapMatrixIds[z] = z;
      }
    },
    /**
     * 生成视图
     */
    getMapView(center, projection, zoom) {
      let view = new View({
        center: center,
        projection: projection,
        zoom: zoom
        // maxzoom: 18
      });
      return view;
    },

    addPopupInfo() {
      let fragment = document.createDocumentFragment();
      let eleDiv1 = document.createElement("div");
      eleDiv1.className = "text";
      for (let i = 0; i < 10; i++) {
        let eleLi = document.createElement("li");
        eleLi.innerText = "测试内容" + i;
        eleDiv1.appendChild(eleLi);
      }
      fragment.appendChild(eleDiv1);
      return fragment;
    },
    addIconLayer() {
      let maxX = 13281566;
      let minX = 13273419;

      let maxY = 3008492;
      let minY = 3008104;

      //设置icon
      //创建空的矢量容器
      let vectorSource = new VectorSource({});
      for (let i = 1; i <= 10; i++) {
        let t1 = Math.random() * (maxX - minX + 1) + minX;
        let t2 = Math.random() * (maxY - minY + 1) + minY;
        //创建图标特性
        let iconFeature = new Feature({
          geometry: new Point([t1, t2], "XY"),
          name: "my Icon"
        });
        //将图标特性添加进矢量中
        vectorSource.addFeature(iconFeature);
        //console.log(t1+" "+t2);
      }
      //创建图标样式
      let iconStyle = new olStyle({
        image: new olstyleIcon({
          opacity: 0.75,
          src: "@/assets/logo2.png"
        })
      });
      // 创建图标层
      let vectorLayer = new VectorLayer({
        source: vectorSource,
        style: iconStyle
      });
      this.map.addLayer(vectorLayer);
    }
  },

  mounted() {
    let _this = this;
    this.initMap();
    //   // let _this=this;
    let container = document.getElementById("popup");
    let content = document.getElementById("popup-content");
    let closer = document.getElementById("popup-closer");
    //   //创建一个叠加层，将弹出式窗口定位到地图。
    let overlay = new Overlay({
      //设置弹出框的容器
      element: container,
      //是否自动平移，即假如标记在屏幕边缘，弹出时自动平移地图使弹出框完全可见
      autoPan: true,
      autoPanAnimation: {
        duration: 250
      }
    });
    //点击关闭按钮  关闭弹窗
    closer.onclick = function() {
      //不显示弹出框
      _this.map.overlay.setPosition(undefined);
      closer.blur();
      return false;
    };
    //   // 地图图层
    let raster = new TileLayer({
      source: new OSM()
    });
    // this.map.addLayer(raster);
    // this.map.addOverlays(overlay);
    //   // 矢量图层
    let source = new VectorSource({ wrapX: false });
    //   //ol.layer.Vector用于显示在客户端渲染的矢量数据。
    let vector = new VectorLayer({
      source: source
    });

    let typeSelect = document.getElementById("type");
    let draw;
    function addInteraction() {
      let value = typeSelect.value;
      if (value !== "None") {
        draw = new Draw({
          source: source,
          type: typeSelect.value
        });
        _this.map.addInteraction(draw);
      }
    }

    typeSelect.onchange = function() {
      _this.map.removeInteraction(draw);
      addInteraction();
    };

    addInteraction();
    //向地图中添加点击处理程序以呈现弹出式窗口。

    this.map.on("click", function(evt) {
      console.log("map-click");

      let coordinate = evt.coordinate;
      let hdms = toStringHDMS(coordinate);
      content.innerHTML = "";
      content.appendChild(_this.addPopupInfo());
      console.log("map", _this.map);

      overlay.setPosition(coordinate);
      console.log(source);
    });
  }
};
</script>
<style scoped>
#map-container,
#map {
  height: 100%;
}
</style>