<template>
  <el-row class="main-container row-bg" justify="center" :gutter="10">
    <el-col :xs="24" :sm="16" :md="16" :lg="18" :xl="20">
      <!-- <el-main> -->
      <v-olMap :tableData="tableList" :targetPoint="targetPointList"></v-olMap>
      <!-- </el-main> -->
      <!-- <el-footer>Foote r</el-footer> -->
    </el-col>
    <el-col :xs="24" :sm="8" :md="8" :lg="6" :xl="4">
      
      <div class="project-list" :class="{'active':isActive}">
        <template v-if="items.length>0">
          <el-card v-for="(item, index) in items" :key="index" shadow="hover">
            <div class="project-name">
              <p>{{item.title}}</p>
            </div>
            <div class="project-other">
              <el-button size="mini" icon="el-icon-place" circle></el-button>
              <span>预警数:</span>
              <span>{{item.aid}}</span>
            </div>
          </el-card>
        </template>
      </div>
    </el-col>
  </el-row>
</template>
<script>
import olMap from "@/Views/Map/Map.vue";
export default {
  components: {
    "v-olMap": olMap
  },
  data() {
    return {
      items: [],
      isActive: false,
      tableList: [
        {
          username: "text1",
          lon: 113.439,
          lat: 23.2146
        }
      ],
      targetPointList: [
        {
          username: "text1",
          lon: 113.439,
          lat: 23.2146
        }
      ]
    };
  },
  methods: {
    itemFactory() {
      let list = [];
      for (let i = 1; i <= 15; i++) {
        const element = {
          text: "测试生成项目名加长测试测试测试" + i,
          num: Math.floor(Math.random() * 101)
        };
        list.push(element);
      }
      return list;
    },
    getProjectList() {
      this.$api.login.articleList().then(res => {
        console.log(res.data.result);
        this.items = res.data.result;
      });
    }
  },
  mounted() {
    // this.items = this.itemFactory();
    this.getProjectList();
    console.log(this.items);
    let vw = window.screen.width;
    if (vw <= 418) {
      this.isActive = true;
    } else {
      this.isActive = false;
    }
  }
};
</script>
<style scoped>
.project-list {
  height: calc(100vh - 110px);
  overflow-x: hidden;
}
.active {
  height: 55vh !important;
}
</style>