<template>
  <el-row class="main-container row-bg" justify="center" :gutter="10">
    <el-col :xs="24" :sm="16" :md="16" :lg="18" :xl="20">
      <!-- <el-main> -->
      <v-olMap :tableData="tableList" :targetPoint="targetPointList"></v-olMap>
      <!-- </el-main> -->
      <!-- <el-footer>Foote r</el-footer> -->
    </el-col>
    <el-col :xs="24" :sm="8" :md="8" :lg="6" :xl="4">
      <div class="project-dom">
        <el-tabs v-model="activeName" type="card" class="project-list" @tab-click="handleClick">
          <el-tab-pane label="全部项目" name="all">
            <el-scrollbar ref="all">
              <v-projectItem v-for="(item, index) in items" :key="index" :item="item"></v-projectItem>
            </el-scrollbar>
          </el-tab-pane>
          <el-tab-pane label="监测中项目" name="undone">
            <el-scrollbar ref="undone">
              <v-projectItem v-for="(item, index) in items" :key="index" :item="item"></v-projectItem>
            </el-scrollbar>
          </el-tab-pane>
          <el-tab-pane label="已完成项目" name="finish">
            <el-scrollbar ref="finish">
              <v-projectItem v-for="(item, index) in items" :key="index" :item="item"></v-projectItem>
            </el-scrollbar>
          </el-tab-pane>
          <el-tab-pane label="筛选" name="filter">
            <el-form label-position="left" label-width="80px" :model="formFilter">
              <el-form-item label="项目名">
                <el-input v-model="formFilter.name"></el-input>
              </el-form-item>
              <el-form-item label="项目区域">
                <el-input v-model="formFilter.region"></el-input>
              </el-form-item>
              <el-form-item label="项目类型">
                <el-input v-model="formFilter.type"></el-input>
              </el-form-item>
              <el-form-item>
                <el-button type="primary">确定</el-button>
                <el-button type="danger">清空</el-button>
              </el-form-item>
            </el-form>
            <el-scrollbar ref="filter">
              <v-projectItem v-for="(item, index) in items" :key="index" :item="item"></v-projectItem>
            </el-scrollbar>
          </el-tab-pane>
        </el-tabs>
      </div>
    </el-col>
  </el-row>
</template>
<script>
import olMap from "@/Views/Map/Map.vue";
import ProjectItem from "./ProjectItem.vue";
export default {
  components: {
    "v-olMap": olMap,
    "v-projectItem": ProjectItem
  },
  data() {
    return {
      items: [],
      isActive: false,
      tableList: [
        {
          username: "text1",
          lon: 113.439,
          lat: 23.2146
        }
      ],
      targetPointList: [
        {
          username: "text1",
          lon: 113.439,
          lat: 23.2146
        }
      ],
      activeName: "all", //当前查看的项目
      formFilter: {
        name: "",
        region: "",
        type: ""
      }
    };
  },
  methods: {
    itemFactory() {
      let list = [];
      for (let i = 1; i <= 15; i++) {
        const element = {
          projectId: i,
          title: "测试生成项目名加长测试测试测试" + i,
          warningId: i,
          warningNum: Math.floor(Math.random() * 101)
        };
        list.push(element);
      }
      return list;
    },
    getProjectList() {
      this.$api.login.articleList().then(res => {
        console.log(res.data.result);
        this.items = res.data.result;
      });
    },
    handleClick(tab, event) {
      console.log("tab", tab);
      console.log("event", event);
      console.log("获取Dom", tab.name);
      let key = tab.name;
      switch (key) {
        case "all":
          this.setHeight(this.$refs.all);
          break;
        case "undone":
          console.log("undone");

          this.setHeight(this.$refs.undone);
          break;
        case "finish":
          this.setHeight(this.$refs.finish);
          break;
        case "filter":
          this.setHeight(this.$refs.filter);
          break;
        default:
          break;
      }
    },
    //设置项目list高度
    setHeight(that) {
      // console.log("点击", that);
      let top = that.$el.getBoundingClientRect().top;
      let winHeight = window.innerHeight;
      console.log("宽高", top, winHeight);
      let domHeight = winHeight - top - 60;
      console.log("改变前", that.$el.getBoundingClientRect());
      that.$el.style.height = domHeight + "px";
      console.log("改变后---", that.$el.getBoundingClientRect());
    }
  },
  mounted() {
    this.items = this.itemFactory();
    // this.getProjectList();
    console.log(this.items);
    let vw = window.screen.width;
    if (vw <= 418) {
      this.isActive = true;
    } else {
      this.isActive = false;
    }
    // 设置项目列表高度
    this.setHeight(this.$refs.all);
    // this.setHeight(this.$refs.undone);
    // this.setHeight(this.$refs.finish);
    // this.setHeight(this.$refs.filter);
  }
};
</script>
<style lang="scss" scoped>
.project-dom {
  height: calc(100vh - 110px);
  overflow-x: hidden;
}
.active {
  height: 55vh !important;
}
.project-list {
  /deep/ .el-scrollbar__wrap {
    overflow: auto;
    margin-bottom: 0 !important;
  }
}
</style>