<template>
  <el-card class="card">
    <div class="project-name">
      <p @click="projactClick(item.projectId,item.title)">{{item.title}}</p>
    </div>
    <div class="project-other">
      <el-button size="mini" icon="el-icon-place" circle></el-button>
      <span>预警数:</span>
      <span @click="warningClick(item.warningId,item.warningNum)">{{item.warningNum}}</span>
    </div>
  </el-card>
</template>
<script>
export default {
  name: "projectItem",
  props: {
    item: {
      type: Object,
      required: false
    }
  },
  data() {
    return {
      items: []
    };
  },
  watch: {
    item(newValue, oldValue) {
      //   this.item = newValue;
      console.log("newitem", newValue);
    }
  },
  methods: {
    projactClick(id, title) {
      console.log("点击了项目", id, title);
    },
    warningClick(id, Num) {
      console.log("点击了项目", id, Num);
    }
  }
};
</script>
<style lang="scss" scoped>
.card {
  margin: 5px;
  margin-right: 10px;
  box-shadow: 2px 4px 12px 0 #f5f7fa;
  /deep/ .el-card__body {
    padding: 5px;
  }
}
</style>