<template>
  <section id="phoneMenu">
    <!-- <el-button @click="drawer = true" type="primary" style="margin-left: 16px;">点我打开</el-button> -->
    <el-drawer
      class="drawer"
      title="手机导航"
      :visible.sync="drawer"
      direction="rtl"
      :before-close="handleClose"
    >
      <el-menu
        default-active="2"
        class="el-menu-vertical-demo"
        @open="menuOpen"
        @close="menuClose"
        background-color="#545c64"
        text-color="#fff"
        active-text-color="#ffd04b"
        router
      >
        <el-submenu index="1">
          <template slot="title">
            <i class="el-icon-location"></i>
            <span>导航一</span>
          </template>
          <el-menu-item-group>
            <template slot="title">分组一</template>
            <el-menu-item index="1-1">选项1</el-menu-item>
            <el-menu-item index="1-2">选项2</el-menu-item>
          </el-menu-item-group>
          <el-menu-item-group title="分组2">
            <el-menu-item index="1-3">选项3</el-menu-item>
          </el-menu-item-group>
          <el-submenu index="1-4">
            <template slot="title">选项4</template>
            <el-menu-item index="1-4-1">选项1</el-menu-item>
          </el-submenu>
        </el-submenu>
        <el-menu-item index="2">
          <i class="el-icon-menu"></i>
          <span slot="title">导航二</span>
        </el-menu-item>
        <el-menu-item index="3" disabled>
          <i class="el-icon-document"></i>
          <span slot="title">导航三</span>
        </el-menu-item>
        <el-menu-item index="/Home">
          <i class="el-icon-setting"></i>
          <span slot="title">导航四</span>
        </el-menu-item>
      </el-menu>
    </el-drawer>
  </section>
</template>

<script>
export default {
  props: {
    // menuShow: {
    //   type: Boolean,
    //   required: true
    // }
  },
  data() {
    return {
      drawer: false,
      direction: "rtl"
    };
  },
  watch: {
    // menuShow: {
    //   handler(newValue, oldValue) {
    //     console.log(newValue, oldValue);
    //     this.drawer = newValue;
    //   }
    // }
  },
  methods: {
    handleClose(done) {
      done();

      // this.$confirm("确认关闭？")
      //   .then(_ => {
      //     done();
      //   })
      //   .catch(_ => {});
    },
    menuOpen(key, keyPath) {
      console.log(key, keyPath);
    },
    menuClose(key, keyPath) {
      console.log(key, keyPath);
    }
  }
};
</script>

<style scoped>
.el-drawer {
  width: 60% !important;
  color: rgb(255, 255, 255);
  background-color: rgb(84, 92, 100);
}
</style>