<template>
  <el-menu
    :router="settings.router"
    :default-active="$route.path"
    :default-openeds="settings.defaultOpeneds"
    :unique-opened="settings.uniqueOpened"
    :menu-trigger="settings.menuTrigger"
    :background-color="settings.backgroundColor"
    :text-color="settings.textColor"
    :active-text-color="settings.activeTextColor"
    :collapse="settings.isCollapse"
    style="text-align:left;border:none;"
  >
    <template v-for="menuItem in leftMenus">
      <template v-if="menuItem.type==='submenu'">
        <v-subMenu :menu="menuItem" :key="menuItem.id"></v-subMenu>
      </template>
      <template v-if="menuItem.type==='item'">
        <v-menuItem :menu="menuItem" :key="menuItem.id"></v-menuItem>
      </template>
      <template v-if="menuItem.type==='group'">
        <v-menuGroup :menu="menuItem" :key="menuItem.id"></v-menuGroup>
      </template>
    </template>
  </el-menu>  
</template>
<script>
import MenuItem from "./MenuItem";
import MenuGroup from "./MenuGroup";
import SubMenu from "./SubMenu";
export default {
  name: "Menu",
  props: {
    leftMenus: {
      type: Array
    },
    settings: {
      type: Object
    }
  },
  components: {
    "v-menuItem": MenuItem,
    "v-menuGroup": MenuGroup,
    "v-subMenu": SubMenu
  },
  data() {
    return {};
  },
  mounted() {
    // console.log(this.leftMenus);
    // console.log(this.settings);
    console.log("router", this.$router);
  }
};
</script>
<style lang="scss" >
.el-menu-vertical- :not(.el-menu--collapse) {
  width: 200px;
  min-height: 400px;
}
</style>