<template>
  <el-menu-item-group>
    <template slot="title" v-if="menu.label!==null">
      <i :class="menu.icon"></i>
      <span slot="title">{{menu.label}}</span>
    </template>

    <template v-if="menu.childs!==null">
      <template v-for="menuItem in menu.childs">
        <template v-if="menuItem.type==='item'">
          <v-menuItem :menu="menuItem" :key="menuItem.id"></v-menuItem>
        </template>

        <template v-if="menuItem.type==='submenu'">
          <v-subMenu :menu="menuItem" :key="menuItem.id"></v-subMenu>
        </template>
      </template>
    </template>
  </el-menu-item-group>
</template>
<script>
import MenuItem from "./MenuItem";
import SubMenu from "./SubMenu";
export default {
  name: "MenuGroup",
  props: {
    menu: {
      type: Object
    }
  },
  components: {
    "v-menuItem": MenuItem,
    "v-subMenu": SubMenu
  },
  data() {
    return {};
  }
};
</script>