<template>
  <el-submenu v-if="menu.type==='submenu'" :index="menu.index">
    <template slot="title" v-if="menu.label!==null">
      <i :class="menu.icon"></i>
      <span slot="title">{{menu.label}}</span>
    </template>

    <template v-if="menu.childs !==null">
      <template v-for="menuItem in menu.childs">
        <template v-if="menuItem.type==='item'">
          <v-menuItem :menu="menuItem" :key="menuItem.id"></v-menuItem>
        </template>

        <template v-if="menuItem.type==='submenu'">
          <v-subMenu :menu="menuItem" :key="menuItem.id"></v-subMenu>
        </template>

        <template v-if="menuItem.type==='group'">
          <v-menuGroup :menu="menuItem" :key="menuItem.id"></v-menuGroup>
        </template>
      </template>
    </template>
  </el-submenu>
</template>
<script>
import MenuItem from "./MenuItem";
import MenuGroup from "./MenuGroup";
export default {
  name: "SubMenu",
  props: {
    menu: {
      type: Object
    }
  },
  components: {
    "v-menuItem": MenuItem,
    "v-menuGroup": MenuGroup
  },
  data() {
    return {};
  },
  mounted() {
    console.log("subMenu:", this.menu);
  }
};
</script>