<template>
  <el-container style="height: 100vh;">
    <!-- <transition name="menu"> -->
    <el-aside class="index-aside" :class="isCollapse?'menu-shrink':'menu-open'">
      <el-scrollbar style="height:100%;">
        <el-menu
          router
          class="index-menu"
          :default-active="$route.path"
          :collapse="isCollapse"
          background-color="#545c64"
          text-color="#fff"
          active-text-color="#ffd04b"
        >
          <el-submenu index="1">
            <template slot="title">
              <i class="el-icon-data-line"></i>
              <span slot="title">监测数据</span>
            </template>
            <el-menu-item-group>
              <template slot="title">分组一</template>
              <el-menu-item index="/Index/Echart">在线比例</el-menu-item>
              <el-menu-item index="/Index/EchartList">温度监测</el-menu-item>
              <el-menu-item index="/Index/DataTable">表格封装</el-menu-item>
            </el-menu-item-group>
            <!-- <el-menu-item-group title="分组2">
              <el-menu-item index="/Index/Echart4">曲线3</el-menu-item>
            </el-menu-item-group>
            <el-submenu index="1-4">
              <template slot="title">选项4</template>
              <el-menu-item index="/Index/Echart4">多组曲线渲染</el-menu-item>
            </el-submenu>-->
          </el-submenu>
          <el-submenu index="2">
            <template slot="title">
              <i class="el-icon-cpu"></i>
              <span slot="title">模块管理</span>
            </template>
            <el-menu-item-group>
              <template slot="title">分组一</template>
              <el-menu-item index="2-1">选项1</el-menu-item>
              <el-menu-item index="2-2">选项2</el-menu-item>
            </el-menu-item-group>
            <el-menu-item-group title="分组2">
              <el-menu-item index="2-3">选项3</el-menu-item>
            </el-menu-item-group>
            <el-submenu index="2-4">
              <template slot="title">选项4</template>
              <el-menu-item index="2-4-1">选项4-1</el-menu-item>
            </el-submenu>
          </el-submenu>
          <el-submenu index="3">
            <template slot="title">
              <i class="el-icon-notebook-2"></i>
              <span slot="title">报表管理</span>
            </template>
            <el-menu-item-group>
              <template slot="title">分组一</template>
              <el-menu-item index="3-1">选项1</el-menu-item>
              <el-menu-item index="3-2">选项2</el-menu-item>
            </el-menu-item-group>
            <el-menu-item-group title="分组2">
              <el-menu-item index="3-3">选项3</el-menu-item>
            </el-menu-item-group>
            <el-submenu index="3-4">
              <template slot="title">选项4</template>
              <el-menu-item index="3-4-1">选项4-1</el-menu-item>
            </el-submenu>
          </el-submenu>
        </el-menu>
      </el-scrollbar>
    </el-aside>
    <!-- </transition> -->

    <el-container>
      <el-header class="header" style=" font-size: 12px; background-color:#545c64;text-color:#fff">
        <div style="float:left;font-size:28px;">
          <!-- <el-button plain @click="isCollapse=!isCollapse"></el-button> -->
          <i
            :class="isCollapse?'el-icon-s-unfold':'el-icon-s-fold'"
            @click="isCollapse=!isCollapse"
            size="medium"
          ></i>
          <!-- <el-radio-group v-model="isCollapse" style="margin-bottom: 20px;">
            <el-radio-button :label="false">展开</el-radio-button>
            <el-radio-button :label="true">收起</el-radio-button>
          </el-radio-group>-->
        </div>

        <div style="float:right;">
          <el-dropdown class="headerDropdown">
            <span class="el-dropdown-link">
              <i class="el-icon-setting" style="margin-right: 15px"></i>
              王小虎
            </span>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item>查看</el-dropdown-item>
              <el-dropdown-item>
                <el-link icon="el-icon-edit" to="/Home">编辑</el-link>
              </el-dropdown-item>
              <el-dropdown-item>
                <router-link to="/home/projactList">
                  <i class="el-icon-house"></i>首页
                </router-link>
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
          <!-- <span>王小虎</span> -->
        </div>
        <!-- 当前项目选择 -->
        <div style="float:right;" class="project-select">
          <el-select
            v-model="projectValue"
            size="mini"
            placeholder="当前项目"
            @change="changeProject()"
          >
            <el-option
              v-for="item in projectOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            ></el-option>
          </el-select>
        </div>
      </el-header>

      <el-main class="main-box">
        <!-- <el-scrollbar> -->
        <!-- <router-view :key="key" /> -->
        <router-view></router-view>
        <!-- </el-scrollbar> -->
      </el-main>
      <!-- 回到顶部 -->
      <el-backtop target=".main-box"></el-backtop>
    </el-container>
  </el-container>
</template>


<script>
import { mapGetters } from "vuex";
export default {
  name: "Index",
  data() {
    const item = {
      date: "2016-05-02",
      name: "王小虎",
      address: "上海市普陀区金沙江路 1518 弄"
    };
    return {
      tableData: Array(20).fill(item),
      isCollapse: false,
      projectValue: "",
      projectOptions: [
        {
          value: "1",
          label: "黄金糕黄金糕黄金糕"
        },
        {
          value: "2",
          label: "双皮奶"
        },
        {
          value: "3",
          label: "蚵仔煎"
        },
        {
          value: "4",
          label: "龙须面"
        },
        {
          value: "5",
          label: "北京烤鸭"
        }
      ]
    };
  },
  computed: {
    // key() {
    //   return this.$route.path;
    // }
    ...mapGetters(["getProjectId"])
  },
  watch: {
    // 监听项目编号变化回填到select
    getProjectId: {
      handler: function(newVal, oldVal) {
        console.log("ProjectId改变了", newVal, oldVal);
        this.projectValue = newVal;
      },
      deep: true, //深度监听
      immediate: true //初次绑定执行回调
    }
  },
  methods: {
    changeProject() {
      // 将修改后项目编号存入vuex
      this.$store.dispatch("changeProjectId", this.projectValue);
    }
  }
};
</script>

<style lang="scss" scoped>
.index-aside {
  background-color: #545c64;
  color: #fff;
  border-right: solid 1px #e6e6e6;
  // less scss语法要通过/deep/ 来找到子级的类
  /deep/ .el-scrollbar__wrap {
    overflow: auto;
    margin-bottom: 0 !important;
  }
}
.index-menu {
  border-right: none;
}
.el-header {
  background-color: #545c64;
  color: #fff;
  line-height: 60px;
}
.el-aside {
  color: #333;
}
.el-submenu {
  text-align: left;
}
// .el-main {
//   height: 300px;
// }
.header {
  a {
    text-decoration: none;
  }
  .headerDropdown {
    background-color: #545c64;
    color: #fff;
  }
}
// 计算成当前主容器高度
// .main-box {
//   // height: calc(100vh - 200px);
//   height: 300px;
// }

.menu-shrink {
  width: 64px !important;
  transition: width 1s;
  -moz-transition: width 1s; /* Firefox 4 */
  -webkit-transition: width 1s; /* Safari and Chrome */
  -o-transition: width 1s; /* Opera */
}
.menu-open {
  width: 210px !important;
  transition: width 1s;
  -moz-transition: width 1s; /* Firefox 4 */
  -webkit-transition: width 1s; /* Safari and Chrome */
  -o-transition: width 1s; /* Opera */
}
.el-menu-vertical-demo:not(.el-menu--collapse) {
  width: 210px;
  min-height: 400px;
}
.el-scrollbar__wrap {
  overflow: auto;
  margin-bottom: 0 !important;
}
// .scrollbar-box >>> .el-scrollbar__wrap {
//   // overflow: auto;
//   // margin-bottom: 0 !important;
// }

//项目下拉列表
.project-select {
  background-color: #545c64;
  color: #fff;
}
// 原生标签包起来，然后通过父查子的方式来找到修改的样式，注意 >>>是不可少的
.project-select >>> .el-input__inner {
  background: #545c64;
  color: white;
  border: 1px solid #75797d;
}
</style>
