<template>
  <div class="page-container">
    404 page not found66
    <a>
      <router-link to="/Home">主页</router-link>
    </a>
    <div class="demo-image__lazy">
      <el-image :src="url" lazy></el-image>
    </div>
    <el-button type="primary" @click="btCliack">切换</el-button>
    <v-phoneMenu></v-phoneMenu>
    <v-echart></v-echart>
  </div>
</template>
<script>
// const phoneMenu = () => import("./Menu/HomeMenu");
const Echart = () => import("./Chart/Echart");

export default {
  components: {
    // "v-phoneMenu": phoneMenu,
    "v-echart": Echart
  },
  data() {
    return {
      url:
        "https://fuss10.elemecdn.com/a/3f/3302e58f9a181d2509f3dc0fa68b0jpeg.jpeg",
      url1:
        "https://fuss10.elemecdn.com/0/6f/e35ff375812e6b0020b6b4e8f9583jpeg.jpeg",
      url2:
        "https://fuss10.elemecdn.com/a/3f/3302e58f9a181d2509f3dc0fa68b0jpeg.jpeg"
    };
  },
  methods: {
    btCliack() {
      if (this.url == this.url1) {
        this.url = this.url2;
      } else {
        this.url = this.url1;
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.page-container {
  font-size: 20px;
  text-align: center;
  color: rgb(192, 204, 218);
}
</style>