
<template>
  <div style="width:200px;height:100vh;background-color: #545c64;color: #fff;">
    <v-menu :leftMenus="menuList" :settings="menuSetting"></v-menu>
  </div>
</template>



<script>
import Menu from "./Menu/Menu";
export default {
  components: {
    "v-menu": Menu
  },
  data() {
    return {
      menuSetting: {
        router: true, //绑定路由
        backgroundColor: "#545c64", //菜单背景
        textColor: "#fff", //文字颜色
        activeTextColor: "#909399", //选中颜色
        isCollapse: false, //展开状态
        defaultOpeneds: [1, 2], //默认展开
        uniqueOpened: true, //保持一个子菜单展开
        menuTrigger: "hover" //触发方式
      },
      menuList: [
        {
          id: 0,
          type: "item",
          index: "/Index/Echart",
          label: "曲线",
          icon: "el-icon-data-line",
          route: {
            type: "inner",
            path: { name: "曲线", path: "Echart" }
          }
        },
        {
          id: 1,
          type: "submenu",
          index: "/Index",
          label: "曲线组",
          icon: "el-icon-chat-line-round",
          childs: [
            {
              id: 0,
              type: "item",
              index: "/Echart",
              label: "曲线1",
              icon: "el-icon-chat-line-round",
              route: {
                type: "inner",
                path: { name: "曲线", path: "Echart" }
              }
            },
            {
              id: 1,
              type: "item",
              index: "/Echart4",
              label: "曲线2",
              icon: "el-icon-chat-line-round",
              route: {
                type: "inner",
                path: { name: "曲线2" }
              }
            }
          ]
        },
        {
          id: 2,
          type: "submenu",
          index: "news",
          label: "表格",
          icon: "el-icon-chat-line-round",
          childs: [
            {
              id: 0,
              type: "item",
              index: "addNews",
              label: "表格1",
              icon: "el-icon-chat-line-round",
              route: {
                type: "inner",
                path: { name: "KgAddNews" }
              }
            },
            {
              id: 1,
              type: "item",
              index: "newsList",
              label: "表格2",
              icon: "el-icon-chat-line-round",
              route: {
                type: "inner",
                path: { name: "KgNewsList" }
              }
            }
          ]
        }
      ]
    };
  }
};
</script>