<template>
  <div>
    <el-button
      type="primary"
      size="small"
      v-for="(item, index) in addBtnList"
      :key="index"
      @click="clkCall(item.methods)"
      :icon="item.icon"
    >{{item.title}}</el-button>
  </div>
</template>
<script>
export default {
  name: "titleAddBtn",
  props: ["addBtnList"],
  methods: {
    clkCall(methodsWords) {
      this.$emit("clkCallBk", methodsWords);
    }
  }
};
</script>
