@import "./variable.scss";

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /* margin-top: 60px; */
  //   width: 100vw;
  height: 100vh;
}

// 主页
.container {
  height: 100vh;
}
// 
// .el-scrollbar__wrap {
//   overflow: auto;
//   margin-bottom: 0!important;
// }
