
<template>
  <section>
    <el-col :xs="6" :sm="6" :md="4" :lg="4" :xl="3">
      <router-link to="/home/projactList">
        <el-image :src="require('../../assets/south1.png')" fit="contain" :lazy="true"></el-image>
      </router-link>
    </el-col>
    <el-col :xs="18" :sm="18" :md="20" :lg="20" :xl="21">
      <el-col :xs="18" :sm="18" :md="20" :lg="20" :xl="21">
        <el-menu
          :default-active="$route.path"
          router
          class="el-menu-demo"
          mode="horizontal"
          @select="handleSelect"
          background-color="#545c64"
          text-color="#fff"
          active-text-color="#ffd04b"
        >
          <el-menu-item index="1" route="/Err">
            测试路由
            <!-- 无路径执行，先转到首页 -->
            <!-- <router-link to="/Err">测试路由</router-link> -->
          </el-menu-item>
          <el-menu-item index="1-2" route="/home/projactList">首页</el-menu-item>
          <el-submenu index="2">
            <template slot="title">项目管理</template>
            <el-menu-item index="2-1" route="/home/unitInformation">单位管理</el-menu-item>
            <el-menu-item index="2-2" route="/home/monitor">监测人员管理</el-menu-item>
            <el-menu-item index="2-3" route="/home/supervision">监督人员管理</el-menu-item>
            <el-menu-item index="2-3" route="/home/projectList">项目管理</el-menu-item>
            <el-submenu index="2-4">
              <template slot="title">选项4</template>
              <el-menu-item index="2-4-1" route="/home/projactList">选项1</el-menu-item>
              <el-menu-item index="2-4-2" route="/home/projactList">选项2</el-menu-item>
              <el-menu-item index="2-4-3" route="/home/projactList">选项3</el-menu-item>
            </el-submenu>
          </el-submenu>
          <el-menu-item index="3" disabled>文件管理</el-menu-item>
          <el-menu-item index="4" route="/Index/EchartList">项目详情</el-menu-item>
          <el-menu-item index="5" route="/Text">menu测试</el-menu-item>
        </el-menu>
      </el-col>
      <el-col :xs="6" :sm="6" :md="4" :lg="4" :xl="3" class="text">
        <!-- 用户名下拉菜单 -->
        <!-- <section class="text"> -->
        <el-avatar size="medium" :src="require('../../assets/logo2.png')"></el-avatar>

        <el-dropdown>
          <span class="el-dropdown-link">
            <!-- <img src="../../assets/south1.png" style="width:25px;height:25px;" /> -->
            管理员
            <i class="el-icon-arrow-down el-icon--right"></i>
          </span>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item icon="el-icon-plus">设置</el-dropdown-item>
            <el-dropdown-item icon="el-icon-circle-plus">数据管理</el-dropdown-item>
            <el-dropdown-item icon="el-icon-circle-plus-outline">用户信息</el-dropdown-item>
            <el-dropdown-item icon="el-icon-circle-check">
              <router-link to="/login">退出</router-link>
            </el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
        <!-- </section> -->
      </el-col>
    </el-col>
  </section>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      condition: false
    };
  },
  computed: {
    ...mapGetters(["getMObileType"])
  },
  mounted() {
    console.log(this.getMObileType);
  },
  methods: {
    handleSelect(key, keyPath) {
      console.log(key, keyPath);
    }
  }
};
</script>
<style scoped>
.el-dropdown {
  color: aliceblue;
  margin-left: 10px;
}
.text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}
</style>