<template>
  <el-row id="mobileHeader">
    <el-col :span="20" class="logoImg">
      <router-link to="/Home">
        <el-image :src="require('../../assets/south1.png')" fit="contain"></el-image>
      </router-link>
    </el-col>

    <el-col :span="4" class="menuBtn">
      <!-- <el-button type="info" @click="drawer = true" icon="el-icon-s-grid"></el-button> -->
      <div @click="drawer = true" style="padding:20px;">
        <el-link icon="el-icon-s-grid" :underline="false" style="color:white;"></el-link>
      </div>
    </el-col>
    <el-drawer
      class="drawer"
      title="手机导航"
      :visible.sync="drawer"
      direction="rtl"
      :before-close="handleClose"
    >
      <el-menu
        default-active="1"
        class="el-menu-vertical-demo"
        @open="menuOpen"
        @close="menuClose"
        background-color="#545c64"
        text-color="#fff"
        active-text-color="#ffd04b"
        router
      >
        <el-menu-item index="1" route="/Home">
          <i class="el-icon-menu"></i>
          <span slot="title">首页</span>
        </el-menu-item>
        <el-menu-item index="2" route="/Err">
          <i class="el-icon-document"></i>
          <span slot="title">文件管理</span>
        </el-menu-item>
        <el-menu-item index="3" route="/Login">
          <i class="el-icon-setting"></i>
          <span slot="title">退出登录</span>
        </el-menu-item>
      </el-menu>
    </el-drawer>
  </el-row>
</template>
<script>
export default {
  data() {
    return {
      userName: "测试用户",
      drawer: false
    };
  },
  methods: {
    handleSelect(key, keyPath) {
      console.log(key, keyPath);
    },
    handleClose(done) {
      done();
    },
    menuOpen(key, keyPath) {
      console.log(key, keyPath);
    },
    menuClose(key, keyPath) {
      console.log(key, keyPath);
    }
  }
};
</script>

<style lang="scss">
.flexStyle {
  display: flex;
  flex-direction: row; //排列
  justify-content: left; //水平对齐
  align-items: center; //垂直对齐
}
#mobileHeader {
  height: 100%;
  // .el-col {
  //   height: 100%;
  // }
  .logoImg {
    @extend .flexStyle;
    // img {
    //   height: 40px;
    //   width: auto;
    // }
  }
  .menuBtn {
    @extend .flexStyle;
    justify-content: center;
  }
}
.el-drawer {
  width: 200px !important;
  color: rgb(255, 255, 255);
  background-color: rgb(84, 92, 100);
}
</style>