<template>
  <el-container class="container">
    <el-header>
      <v-header v-show="!menuShow"></v-header>
      <v-mobileHeader v-show="menuShow"></v-mobileHeader>
    </el-header>
    <el-main>
      <router-view></router-view>
    </el-main>
  </el-container>
</template>
<script>
import Header from "@/views/Header/Header.vue";
import MobileHeader from "@/views/Header/MobileHeader.vue";
import { mapGetters } from "vuex";
export default {
  components: {
    "v-header": Header,
    "v-mobileHeader": MobileHeader
  },
  data() {
    return {
      menuShow: false,
      tableList: [
        {
          username: "text1",
          lon: 113.439,
          lat: 23.2146
        }
      ],
      targetPointList: [
        {
          username: "text1",
          lon: 113.439,
          lat: 23.2146
        }
      ]
    };
  },
  computed: {
    ...mapGetters(["getMObileType"])
  },
  watch: {
    getMObileType: {
      handler: function(newVal, oldVal) {
        // console.log("getMObileType改变了", newVal, oldVal);
        //切换显示的导航
        this.menuShow = newVal;
      },
      deep: true, //深度监听
      immediate: true //初次绑定执行回调
    }
  },
  methods: {
    getList() {}
  },
  mounted() {
    this.menuShow = this.getMObileType;
  }
};
</script>
<style lang="scss" scoped>
.el-header {
  padding: 0px;
  background-color: #545c64;
  color: #fff;
}

.el-main {
  padding: 5px;
}
</style>