<template>
  <div id="app">
    <!-- <img src="./assets/logo.png" /> -->
    <router-view :key="key" />
  </div>
</template>

<script>
export default {
  name: "App",
  computed: {
    key() {
      return this.$route.name
        ? this.$route.name + +new Date()
        : this.$route + +new Date();
    }
  },
  methods: {
    // 判断当前设备是否手机
    _isMobile() {
      let flag = navigator.userAgent.match(
        /(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i
      );
      return flag;
    }
  },
  created() {
    // 在页面加载时读取sessionStorage里的vuex状态信息
    this.$store.replaceState(
      Object.assign(
        this.$store.state,
        JSON.parse(sessionStorage.getItem("vuexData"))
      )
    );

    // 在页面刷新时将vuex里的信息保存到sessionStorage里
    window.addEventListener("beforeunload", () => {
      sessionStorage.setItem("vuexData", JSON.stringify(this.$store.state));
    });
    // 判断设备类型
    if (this._isMobile()) {
      console.log("手机端");
      // this.$router.replace("/m_index");
      this.$store.dispatch("isMobile", true);
    } else {
      console.log("pc端");
      // this.$router.replace("/pc_index");
      this.$store.dispatch("isMobile", false);
    }
  }
};
</script>


