<template >
  <el-row class="login">
    <el-row>
      <el-col :span="24" type="flex">
        <!-- <img src="../assets/LOGO1.jpg" alt srcset /> -->
        <img src="../../assets/LOGO1.jpg" alt srcset />
      </el-col>
    </el-row>
    <el-row type="flex" class="row-bg" justify="center" :gutter="10">
      <el-col class="hidden-xs-only" :sm="16" :md="16" :lg="14" :xl="14">
        <div class="grid-content login-img">
          <!-- <img src="../assets/show.jpg" class="show-img" /> -->
        </div>
      </el-col>
      <el-col :xs="20" :sm="8" :md="8" :lg="6" :xl="4">
        <div class="grid-content login-from">
          <el-form
            :model="ruleForm"
            :rules="rules"
            ref="ruleForm"
            label-width="0px"
            class="demo-ruleForm"
          >
            <h3>{{$t('public.title')}}</h3>
            <el-form-item prop="account" clearable>
              <el-input
                type="text"
                v-model="ruleForm.account"
                prefix-icon="el-icon-user"
                :placeholder="account"
              ></el-input>
            </el-form-item>
            <el-form-item prop="pass" clearable>
              <el-input
                type="password"
                v-model="ruleForm.pass"
                prefix-icon="el-icon-lock"
                :placeholder="pass"
                @keyup.enter.native="submitForm('ruleForm')"
              ></el-input>
            </el-form-item>
            <!-- <el-form-item class="change-button">
              <el-checkbox
                size="mini"
                v-model="checkUserInfo"
                class="box-left"
              >{{$t('login.rememberPassword')}}</el-checkbox>
            </el-form-item>-->

            <el-form-item>
              <el-button
                type="primary"
                @click="submitForm('ruleForm')"
                round
                :loading="loginLoad"
              >{{$t('login.loginButton')}}</el-button>
              <!-- <el-button @click="resetForm('ruleForm')" round>重置</el-button> -->
            </el-form-item>
            <el-form-item class="change-button">
              <el-select @change="changeLangEvent" v-model="lang" placeholder="Language">
                <el-option label="中文" value="zh"></el-option>
                <el-option label="English" value="en"></el-option>
              </el-select>
            </el-form-item>
          </el-form>
        </div>
      </el-col>
    </el-row>
  </el-row>
</template>
<script>
// import { truncate } from "fs";
import axios from "axios";
export default {
  data() {
    return {
      lang: "zh",
      account: this.$i18n.t("login.account"),
      pass: this.$i18n.t("login.pass"),
      ruleForm: {
        account: "",
        pass: ""
      },
      checkUserInfo: true,
      loginLoad: false,
      rules: {
        account: [
          {
            required: true,
            message: this.$i18n.t("login.rules.account.message1"),
            trigger: "blur"
          }
          // { min: 2, max: 10, message: "长度在 2 到 10 个字符", trigger: "blur" }
        ],
        pass: [
          {
            required: true,
            message: this.$i18n.t("login.rules.pass.message1"),
            trigger: "blur"
          },
          {
            min: 3,
            message: this.$i18n.t("login.rules.pass.message2"),
            trigger: "blur"
          }
        ]
      }
    };
  },
  methods: {
    // 切换语言
    changeLangEvent() {
      this.$confirm(
        this.$i18n.t("message.changeLanguage"),
        this.$i18n.t("message.tips"),
        {
          type: "warning"
        }
      )
        .then(() => {
          this.$i18n.locale = this.lang; //关键语句
          this.account = this.$i18n.t("login.account");
          this.pass = this.$i18n.t("login.pass");
          console.log(this.$i18n.locale);
          localStorage.setItem("lang", this.$i18n.locale);
        })
        .catch(() => {});
    },
    // 获取本地存储内语言值
    getLang() {
      let lang = localStorage.getItem("lang");
      console.log(lang, this.lang);
      if (lang != "" && typeof lang != undefined && lang != null) {
        this.lang = lang;
      }
      this.$i18n.locale = this.lang;
      console.log(this.$i18n);
    },
    // 登录提交
    submitForm(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
          this.loginLoad = true;
          this.login();
        } else {
          // this.loginLoad = false;
          return false;
        }
      });
    },
    login() {
      this.$api.login
        .getToken({
          account: this.ruleForm.account,
          pass: this.ruleForm.pass
        })
        .then(res => {
          console.log(res, res.data.code);
          if (res.data.code === 200) {
            // this.$message.success(this.$i18n.t("login.message.success"));
            // 写入本地存储
            sessionStorage.setItem("token", res.data.token);
            // 用户信息存入cookit
            // this.saveUserInfo();
            // 存入vuex
            this.$store.dispatch("addToken", res.data.token);
            console.log(this.$router);
            console.log(this.$router.options.routes);
            let historyUrl = this.$route.query.redirect; // 获取域名
            let isContain = this.$router.options.routes.some(
              list => list.path == historyUrl
            );

            if (isContain) {
              // 判断如果域名项目域名，说明是网站内部跳转过来的，
              // this.$router.go(-1); // 登录成功后，返回上次进入的页面；
              // let historyUrl = this.$router.history.current.query.redirect;
              // // let historyUrl = this.$router.history;
              console.log(historyUrl);
              this.$router.push({ path: historyUrl });
            } else {
              // window.open(this.$url() + "/article/news", "_self"); // 若不是网站内部跳转过来的，登陆成功后进入网站首页
              // 跳转首页
              this.$router.push({ path: "/home/projactList" });
            }
          } else if (res.data.code === 500) {
            this.$message.error(this.$i18n.t("login.message.failure"));
          }
        });
      // this.$api.login.articleList().then(res => {
      //   console.log(res, res.data.code);
      // })
      this.loginLoad = false;
    },
    // 清空输入
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
    // 保存用户名和密码
    saveUserInfo() {
      const _this = this;
      //判断复选框是否被勾选 勾选则调用配置cookie方法
      if (_this.checkUserInfo == true) {
        console.log("checkUserInfo == true");
        //传入账号名，密码，和保存天数3个参数
        _this.setCookie(_this.ruleForm.account, _this.ruleForm.pass, 7);
      } else {
        console.log("清空Cookie");
        //清空Cookie
        _this.clearCookie();
      }
    },
    //设置cookie
    setCookie(c_name, c_pwd, exdays) {
      var exdate = new Date(); //获取时间
      exdate.setTime(exdate.getTime() + 24 * 60 * 60 * 1000 * exdays); //保存的天数
      //字符串拼接cookie
      window.document.cookie =
        "account" + "=" + c_name + ";path=/;expires=" + exdate.toGMTString();
      window.document.cookie =
        "pass" + "=" + c_pwd + ";path=/;expires=" + exdate.toGMTString();
      console.log(document.cookie);
    },
    //读取cookie
    getCookie: function() {
      if (document.cookie.length > 0) {
        var arr = document.cookie.split("; "); //这里显示的格式需要切割一下
        for (var i = 0; i < arr.length; i++) {
          var arr2 = arr[i].split("="); //再次切割
          //判断查找相对应的值
          if (arr2[0] == "account") {
            this.ruleForm.account = arr2[1]; //保存到保存数据的地方
          } else if (arr2[0] == "pass") {
            this.ruleForm.pass = arr2[1];
          }
        }
      }
    },
    //清除cookie
    clearCookie: function() {
      this.setCookie("", "", -1); //修改2值都为空，天数为负1天就好了
    }
  },
  mounted() {
    // 获取本地选中语言
    this.getLang();
    // 查询cookit
    // this.getCookie();
  }
};
</script>
<style lang="scss" scoped>
.login {
  height: 100%;
  width: 100%;
  background: url(../../assets/bg.jpg) no-repeat center center;
  background-size: 100% 100%;
  overflow: hidden;
  .login-img {
    // background-color: #eee;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    overflow: hidden;
    .show-img {
      width: 100%;
    }
  }
  .login-from {
    background-color: #eee;
  }
  .change-button {
    margin-bottom: 5px;
  }
}
.el-row {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}
.el-col {
  border-radius: 4px;
}
.grid-content {
  // border: 1px solid #eee;
  border-radius: 4px;
  min-height: 36px;
  padding: 15px;
}
.row-bg {
  padding: 10px 0;
}
.box-left {
  float: left;
}
</style>